{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Teachers by school category" %}{% endblock %}

{% block headline %}{% trans "Teachers by school category" %}{% endblock %}
{% block extrahead %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js" type="text/javascript"></script> -->
{% endblock %}
{% block content %}
{% for category, profiles in categories.items %}
<div>
<h2>{{category.1}}</h2>
    {% for p in profiles %}
        {{p}} &lt{{p.user.email}}&gt,<br/>
    {% endfor %}
</div>
{%endfor%}
{% endblock %}
