{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Teachers by school category" %}{% endblock %}

{% block headline %}{% trans "Teachers by school category" %}{% endblock %}
{% block extrahead %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js" type="text/javascript"></script> -->
{% endblock %}
{% block content %}
{% for category, profiles in categories.iteritems %}
<div>
<h2>{{category.1}}
  <ul>{% for p in profiles %}
<li>{{p}} &lt{{p.user.email}}&gt</li>
  {% endfor %}</ul>
</div>
{%endfor%}
{% endblock %}
