{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Add School" %}{% endblock %}

{% block headline %}{% trans "Add School" %}{% endblock %}
{% block extrahead %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js" type="text/javascript"></script> -->
{{form.media}}
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm">
	<form method=POST action="?next_url={{next_url}}">
	{% csrf_token %}
	{{form | crispy}}
	<input type="submit" class="btn btn-secondary" value="{% trans "Add school" %}" />
	</form>
	</div>
</div>
{% endblock %}
