{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Teacher registration" %}{% endblock %}

{% block headline %}{% trans "Teacher registration" %}{% endblock %}
{% block extrahead %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js" type="text/javascript"></script> -->
{% endblock %}
{% block content %}
<p>
{% trans "Enter your username, e-mail and password." %}<br>
{% trans "If you have multiple mentors at your school, send them the link to this page so that they can also register." %}
</p><p>
<a href="{% url "access_code" next=teacher_login_url %}?access_code={{hidden_code}}">{% trans "If you already have a username, click here (even if you can not remember your password)." %}</a>.
</p>
<form method=POST action="?next_url={{next_url}}">
{% csrf_token %}
<table>
{{form}}
</table>
<input type="submit" value="{% trans "Set password" %}" />
{% comment %}
<input type="submit" value="{% trans "Submit" %}" />
{% endcomment %}
</form>
{% endblock %}
