{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
<script src="{% static "js/django_csrf_cookie.js" %}"></script>
<script>
function switch_qualify(obj) {
    var tr = $(obj).closest("tr");
    var url = tr[0].attributes['confirm_url'].value;
    if (tr.hasClass("confirmed")){
        url = tr[0].attributes['unconfirm_url'].value;
    }
    $.ajax({
        url: url,
        method: "post",
        success: function(response_data) {
            tr.toggleClass("confirmed unconfirmed");
        }
    })
}

function edit_name(obj) {
    var tr = $(obj).closest("tr");
    tr.find("span.name").css("display", "none");
    var span = tr.find("span.edit-name");
    span.css("display", "inline-block");
    tr.find("input").keyup(function (e) {
        if (e.keyCode == 13) {
            $.ajax({
                url : span.update_url, // the endpoint
                type : "POST", // http method
                data : { the_post : $('#post-text').val() }, // data sent with the post request
                // handle a successful response
                success : function(response_data) {
                    tr.find("span.name").css("display", "inline-block");
                    tr.find("span.edit-name").css("display", "none");
                },
            });
        }
    });
}

</script>
{% endblock %}
{% block context_menu %}
{% if request.user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'profile_update' pk=request.user.profile.pk %}">{% trans "Edit my profile" %}</a>
{% endif %}
{% endblock %}
{% block content %}
<table id="sections">
    <tr>
        <th>
            {% trans "Codes for each school" %}<br/>
            <span style="font-weight: normal; font-size: 13px">(Kode, ki jih bodo tekmovalci<br/>uporabili za vstop v sistem.)</span>
        </th>
        <td>
            {% for school, codes in schools.iteritems %}
                <div class="school">
                    <p>{{school}}</p>
                    <ul>
                        {% for code in codes %}
                            <li>
                                {{code.0.name}}: {{code.1}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <a href="{% url 'school_codes_create' slug=competition.slug %}?next_url={{request.path}}">{% trans "Add school" %}</a>
        </td>
    </tr>
    <tr>
        <th>
            {%  trans "Competition on paper" %}
        </th>
        <td>
            <p>
                <a href="/static/cn87gy8nyq38g5y3qv8t7yg23y/Bober-pole-2-5-razred.zip
">{% trans "Competition sheets" %}</a>
            </p>
            <p>
                <a href="{% url "mentorship_list" slug=competition.slug %}">{% trans "Result entry for tasks on paper" %}</a>
            </p>
        </td>
    </tr>
    <tr>
        <th>{% trans "Certificates" %}</th>
        <td>
            <p>{% trans "Certificates of achievement" %} ({% trans "not available yet" %})</p>
            <p>{% trans "Certificates for mentors" %} ({% trans "not available yet" %})</p>
        </td>
    </tr>
</table>
<div class="footnote">
<a href="{% url 'competition_detail' slug=competition.slug %}">{% trans "Advanced details" %}</a>
</div>
<div>
<div class="prelim">{% trans "Preliminary results" %}</div>
{% for school, cqsa in attempts.iteritems %}
    <div class="results-school">{{ school }}</div>
    {% for cqs, attempts in cqsa %}<div>
        <div class="results-group">{{cqs.name}}</div>
        <table class="results">
            <tr>
               <td></td>
                   {% for q in cqs.questionset.questions.all %}
                       <th>
                           <span title="{{q.title}}">{{q.title|truncatechars:7}}</span>
                       </th>
                   {% endfor %}
            </tr>
            {% for attempt, status in attempts %}
                <tr class="{{status}}" confirm_url="{% url "attempt_confirm" attempt_id=attempt.id competition_questionset_id=cqs.id %}" unconfirm_url="{% url "attempt_unconfirm" attempt_id=attempt.id competition_questionset_id=cqs.id %}">
                    <th>
                         <span class="name">{{attempt.competitor.first_name}} {{attempt.competitor.last_name}}</span>
                         <span class="edit-name" style="display: none" update_url="{% url "competitor_update" pk=attempt.competitor.id %}">
                         <form>
                             <input type="text" value="{{attempt.competitor.first_name}}"/> 
                             <input type="text" value="{{attempt.competitor.last_name}}"/> 
                         </form>
                         </span>
                         <img src="/static/img/pencil.png" onclick="edit_name(this); " />
                         <span class="qualify-button" onclick="switch_qualify(this); ">
                    </th>
                    {% for q, answer in attempt.latest_answers_by_question_id.iteritems %}
                        <td>
                            {% if answer.score > 0 %}
                                <span class="correct">&#x2714;</span>
                            {% elif answer.score == None %}
                            {% else %}
                                <span class="wrong">&#10008;</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="score">
                        <span>
                            {{attempt.latest_answers_sum}}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>{% endfor %}
{%  endfor %}
</div>
{% endblock %}
