{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Teacher registration" %}{% endblock %}

{% block headline %}{% trans "Teacher registration" %}{% endblock %}
{% block extrahead %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js" type="text/javascript"></script> -->
{% endblock %}
{% block content %}
<p>
Vnesite svoj elektronski naslov in novo geslo, ki ga želite uporabljati za vstop v sistem. Če je na šoli več mentorjev, vas prosimo, da posredujete naslov še kolegom, da bodo vpisali svoj elektronski naslov in geslo.</p>
<form method=POST action="?next_url={{next_url}}">
{% csrf_token %}
<table>
{{form}}
</table>
<input type="submit" value="Nastavi geslo" />
{% comment %}
<input type="submit" value="{% trans "Submit" %}" />
{% endcomment %}
</form>
{% endblock %}
