{% extends "main.html" %}
{% load i18n %}

    {% block content %}
      <div class="well custom">
	      <a href="{% url "index" %} "  class="btn back-btn"><i class="icon-arrow-left"></i> Back</a>

        <select name="language" id="changeLanguage" size="1">
          {% for lang in all_languages %}
            <option value="{{lang.value_short}}" {% if language == lang.value_short %} selected{% endif %} >{{lang.value}}</option>
          {% endfor %}
        </select>

        <div class="inner_well">
					<div class="well preview">
						<h4>Preview</h4><hr style="margin:0px;" />
						<h4>{{translation.title}}</h4>
						<p>
							<b>{{translation.body}}</b>
							<ul>
								<li>Odgovor 1</li>
								<li>Odgovor 2</li>
								<li>Odgovor 3</li>
								<li>Odgovor 4</li>
							</ul>
						</p>
					</div>
          <div class="newsfeed">
          <b>{{tasks.0.tasktranslation_set.all.0.title}}</b>
            {% for task  in  task_translations %}
              <article class="news-item commit">
                <span class="icon commit"></span>
                <a href="{% url "tasks.show" task.id %} "><img alt="{{ task.author.first_name }}" src="img/placer.png" class="avatar avatar32 img-polaroid"></a>
                <p><b><a href="{% url "tasks.display" task.id %} ">{{task.comment}}</a></b>
                  <i>by</i>
                  {% if task.author.id %}<a href="{% url "users.show_user" task.author.id %} ">{{ task.author.first_name }} {{ task.author.last_name }}</a>{% else %}{% trans 'Author does not exist' %} {% endif %}.

                  <div class="btn-group">
                    <button class="btn btn-mini"><i class="icon-info-sign"></i></button>
                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="{% url "tasks.edit" task.id %} ">Edit</a></li>
                      <li><a href="{% url "tasks.translate" task.id %} ">Translate</a></li>
                      <li><a href="{% url "tasks.new_form" task.id %} ">New from this version</a></li>
                      <li class="divider"></li>
                      <li><a id="del" href="{% url "tasks.delete" task.id %} ">Delete</a></li>
                    </ul>
                  </div>
                  <time datetime="">{{task.timestamp}}</time>
                </p>
              </article>
            {% endfor %}






          </div>
       </div>
      </div>
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
        $("select#changeLanguage").change(function (e) {
          var locale = $(this).find('option:selected').attr('value');
          window.location = window.location.pathname + '?language=' + locale;
        });
          $('a#del').click(function() {
            conf = confirm('{% trans "Are you sure you want to delete this task?" %}')
              if (conf){
                  return true
              }else {
                  return false
              }
          });
      });
      </script>
    {% endblock content %}
