<!DOCTYPE html>
<html>
    <head>
        <title>{{task_translation.title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        
    </head>
    <body onload="/* task.load(0.13, 'task'); task.reloadAnswer('Ponedeljek'); */">
        <div>
            {% autoescape off %}
                {{task_translation.body}}
            {% endautoescape %}
        </div>
        <br />
        <form action="get" onsubmit="return false;" >
            <div id="answers">

              {% for answer in answers %}
                <input type="radio" name="answer" value="{{answer.value}}" id="answer{{forloop.counter0}}">
                <label for="answer{{forloop.counter0}}">{{answer.value}}</label>
              {% endfor %}
            </div>
            <br />

            <input type="button" name="reset" value="Izbriši odgovor" onclick="task.displayMessage('cancel');" />
            <input type="button" onclick="alert(task.getAnswer())" value="Potrdi" />
        </form>
        <script type="text/javascript" charset="utf-8">
        window.correct = {{correct}}
        </script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/api/Functions.js"></script>
        <script src="{{ STATIC_URL }}js/api/grader.js"></script>
        
    </body>
</html>