{% extends "control-panel/control-panel.html" %}

{% load i18n %}

{% block settings-title %}{% trans "Parameters Settings" %}{% endblock settings-title %}

{% block control-panel-content %}
    <div id="parameters-settings" class="well custom">
        <div class="inner_well">

            <!-- Age Groups -->
            <form id="age-groups" action="" method="post" class="">

                <legend>
                    {% trans "Age Groups" %}
                    <a class="btn btn-primary btn-mini control-panel-label" href="{% url "control_panel.new_age_group" %} ">
                        <i class="icon icon-plus icon-white"></i> {% trans "New" %}
                    </a>
                </legend>


                <table class="table table-striped table-condensed">
                    <tr>
                        <th>{% trans "Age Group" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>

                    {% for age_group in age_groups %}
                        <tr>
                            <td style="width:80%;">{{age_group.value}}</td>
                            <td>
                                <a class="btn btn-mini" href="{% url "control_panel.edit_age_group" age_group.id %} ">
                                    <i class="icon icon-edit"></i> {% trans "Edit" %}
                                </a>
                                <a class="btn btn-mini " href="{%  url "control_panel.delete_age_group" age_group.id %}">
                                    <i class="icon icon-trash "></i> {% trans "Delete" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>

            <!-- Categories -->
            <form id="categories" action="" method="post">
                <legend>
                    {% trans "Categories" %}
                    <a class="btn btn-primary btn-mini control-panel-label" href="{% url "control_panel.new_category" %} ">
                        <i class="icon icon-plus icon-white"></i> {% trans "New" %}
                    </a>
                </legend>

                <table class="table table-striped table-condensed">
                    <tr>
                        <th>{% trans "Acronym" %}</th>
                        <th>{% trans "Category" %}</th>
                        <th>{% trans "Description" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                    {% for category in categories %}
                        <tr>
                            <td>{{category.acronym}}</td>
                            <td>{{category.title}}</td>
                            <td>{{category.description}}</td>
                            <td>
                                <a class="btn btn-mini" href="{% url "control_panel.edit_category" category.id %} ">
                                    <i class="icon icon-edit"></i> {% trans "Edit" %}</a>
                                <a class="btn btn-mini " href="{% url "control_panel.delete_category" category.id %} ">
                                    <i class="icon icon-trash "></i> {% trans "Delete" %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>

            <!-- Difficulty Levels -->
            <form id="difficulty-levels" action="" method="post">
                <legend>
                    {% trans "Difficulty Levels" %}
                    <a class="btn btn-primary btn-mini control-panel-label" href="{% url "control_panel.new_difficulty" %} ">
                        <i class="icon icon-plus icon-white"></i> {% trans "New" %}
                    </a>
                </legend>

                <table class="table table-condensed table-striped">
                    <tr>
                        <th>{% trans "Difficulty level" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                    {% for difficulty in difficultys %}
                        <tr>
                            <td style="width:80%;">{{difficulty.value}}</td>
                            <td>
                                <a class="btn btn-mini" href="{% url "control_panel.edit_difficulty" difficulty.id %} ">
                                    <i class="icon icon-edit"></i> {% trans "Edit" %}
                                </a>
                                <a class="btn btn-mini " href="{% url "control_panel.delete_difficulty" difficulty.id %} ">
                                    <i class="icon icon-trash "></i> {% trans "Delete" %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
{% endblock control-panel-content %}
