{% extends "main.html" %}

{% load i18n %}

{% load active_tag %}

{% block pageTitle %}{% trans "Control Panel" %}{% endblock pageTitle %}

{% block content %}
    <div class="row fluid">

        <!-- Left menu -->
        <div class="span2">
            <div id="control-panel-menu" class="well well-small affix">
                <ul class="nav nav-list">
                    <!-- Parameters settings -->
                    <li class="nav-header">{% trans "Parameters settings" %}</li>
                    <li><a href="{% url "control_panel.parameters" %}#age-groups">{% trans "Age Groups" %}</a></li>
                    <li><a href="{% url "control_panel.parameters" %}#categories">{% trans "Categories" %}</a></li>
                    <li><a href="{% url "control_panel.parameters" %}#difficulty-levels">{% trans "Difficulty Levels" %}</a></li>
                    <li><a href="{% url "control_panel.parameters" %}#languages">{% trans "Languages" %}</a></li>
                    <li class="divider"></li>

                    <!-- Users settings -->
                    <li class="nav-header">{% trans "Users settings" %}</li>
                    <li class="{% add_active request "control_panel.users" %}"><a href="{% url "control_panel.users" %} ">{% trans "User Management" %}</a></li>
                </ul>
            </div>
        </div>

        <!-- Control panel - main content -->
        <div id="control-panel-content" class="span10">

            <!-- Breadcrumb -->
            <ul class="breadcrumb">
                <li><a href="{% url "control_panel.parameters" %} ">{% trans "Control Panel" %}</a></li>
                <li><span class="divider">/</span></li>
                <li>{% block settings-title %}{% endblock settings-title %}</li>
            </ul>

            <!-- Specific content -->
            {% block control-panel-content %}{% endblock control-panel-content %}
        </div>
    </div>
{% endblock content %}