{% extends "main.html" %}

    {% block content %}

      <div class="well custom">
	      <a href="{% url "index" %} "  class="btn back-btn"><i class="icon-arrow-left"></i> Back</a>
        <div class="inner_well">
					<div class="well preview">
						<h4>Preview</h4><hr style="margin:0px;" />
						<h4>Naslov naloge</h4>
						<p>
							<b>Besedilo naloge.</b> <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
							<ul>
								<li>Odgovor 1</li>
								<li>Odgovor 2</li>
								<li>Odgovor 3</li>
								<li>Odgovor 4</li>
							</ul>
						</p>
					</div>
          <div class="newsfeed">




            <article class="news-item commit">
              <span class="icon commit"></span>
              <a href="/DinoRosic"><img alt="Dino R" src="img/placer.png" class="avatar avatar32 img-polaroid"></a>
              <p>
				  Some text with <a href="#">Link</a> <i>by</i> <a href="#">Dino</a>.
                  <div class="btn-group">
					  <button class="btn btn-mini"><i class="icon-info-sign"></i></button>
					  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					  <ul class="dropdown-menu">
						  <li><a href="edit.html">Edit</a></li>
						  <li><a href="#">Translate</a></li>
						  <li><a href="#">New from this version</a></li>
						  <li class="divider"></li>
						  <li><a href="#">Delete</a></li>
					  </ul>
				  </div>
				  <time datetime="">1.1.2013</time>
			  </p>

            </article>


            <article class="news-item commit">
              <span class="icon commit"></span>
              <a href="/DinoRosic"><img alt="Dino R" src="img/placer.png" class="avatar avatar32 img-polaroid"></a>
              <p>
				  Some text with <a href="#">Link</a> <i>by</i> <a href="#">Dino</a>.
                  <div class="btn-group">
					  <button class="btn btn-mini"><i class="icon-info-sign"></i></button>
					  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					  <ul class="dropdown-menu">
						  <li><a href="edit.html">Edit</a></li>
						  <li><a href="#">Translate</a></li>
						  <li><a href="#">New from this version</a></li>
						  <li class="divider"></li>
						  <li><a href="#">Delete</a></li>
					  </ul>
				  </div>
				  <time datetime="">1.1.2013</time>
			  </p>

            </article>

            <article class="news-item commit">
              <span class="icon commit"></span>
              <a href="/DinoRosic"><img alt="Dino R" src="img/placer.png" class="avatar avatar32 img-polaroid"></a>
              <p>
				  Some text with <a href="#">Link</a> <i>by</i> <a href="#">Dino</a>.
                  <div class="btn-group">
					  <button class="btn btn-mini"><i class="icon-info-sign"></i></button>
					  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					  <ul class="dropdown-menu">
						  <li><a href="edit.html">Edit</a></li>
						  <li><a href="#">Translate</a></li>
						  <li><a href="#">New from this version</a></li>
						  <li class="divider"></li>
						  <li><a href="#">Delete</a></li>
					  </ul>
				  </div>
				  <time datetime="">1.1.2013</time>
			  </p>

            </article>


            <article class="news-item commit">
              <span class="icon commit"></span>
              <a href="/DinoRosic"><img alt="Dino R" src="img/placer.png" class="avatar avatar32 img-polaroid"></a>
              <p>
				  Some text with <a href="#">Link</a> <i>by</i> <a href="#">Dino</a>.
                  <div class="btn-group">
					  <button class="btn btn-mini"><i class="icon-info-sign"></i></button>
					  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					  <ul class="dropdown-menu">
						  <li><a href="edit.html">Edit</a></li>
						  <li><a href="#">Translate</a></li>
						  <li><a href="#">New from this version</a></li>
						  <li class="divider"></li>
						  <li><a href="#">Delete</a></li>
					  </ul>
				  </div>
				  <time datetime="">1.1.2013</time>
			  </p>

            </article>


            <article class="news-item commit">
              <span class="icon commit"></span>
              <a href="/DinoRosic"><img alt="Dino R" src="img/placer.png" class="avatar avatar32 img-polaroid"></a>
              <p>
				  Some text with <a href="#">Link</a> <i>by</i> <a href="#">Dino</a>.
                  <div class="btn-group">
					  <button class="btn btn-mini"><i class="icon-info-sign"></i></button>
					  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					  <ul class="dropdown-menu">
						  <li><a href="edit.html">Edit</a></li>
						  <li><a href="#">Translate</a></li>
						  <li><a href="#">New from this version</a></li>
						  <li class="divider"></li>
						  <li><a href="#">Delete</a></li>
					  </ul>
				  </div>
				  <time datetime="">1.1.2013</time>
			  </p>

            </article>


            <article class="news-item commit">
              <span class="icon commit"></span>
              <a href="/DinoRosic"><img alt="Dino R" src="img/placer.png" class="avatar avatar32 img-polaroid"></a>
              <p>
				  Some text with <a href="#">Link</a> <i>by</i> <a href="#">Dino</a>.
                  <div class="btn-group">
					  <button class="btn btn-mini"><i class="icon-info-sign"></i></button>
					  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					  <ul class="dropdown-menu">
						  <li><a href="edit.html">Edit</a></li>
						  <li><a href="#">Translate</a></li>
						  <li><a href="#">New from this version</a></li>
						  <li class="divider"></li>
						  <li><a href="#">Delete</a></li>
					  </ul>
				  </div>
				  <time datetime="">1.1.2013</time>
			  </p>

            </article>


            <article class="news-item commit">
              <span class="icon commit"></span>
              <a href="/DinoRosic"><img alt="Dino R" src="img/placer.png" class="avatar avatar32 img-polaroid"></a>
              <p>
				  Some text with <a href="#">Link</a> <i>by</i> <a href="#">Dino</a>.
                  <div class="btn-group">
					  <button class="btn btn-mini"><i class="icon-info-sign"></i></button>
					  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					  <ul class="dropdown-menu">
						  <li><a href="edit.html">Edit</a></li>
						  <li><a href="#">Translate</a></li>
						  <li><a href="#">New from this version</a></li>
						  <li class="divider"></li>
						  <li><a href="#">Delete</a></li>
					  </ul>
				  </div>
				  <time datetime="">1.1.2013</time>
			  </p>

            </article>


            <article class="news-item commit">
              <span class="icon commit"></span>
              <a href="/DinoRosic"><img alt="Dino R" src="img/placer.png" class="avatar avatar32 img-polaroid"></a>
              <p>
				  Some text with <a href="#">Link</a> <i>by</i> <a href="#">Dino</a>.
                  <div class="btn-group">
					  <button class="btn btn-mini"><i class="icon-info-sign"></i></button>
					  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					  <ul class="dropdown-menu">
						  <li><a href="edit.html">Edit</a></li>
						  <li><a href="#">Translate</a></li>
						  <li><a href="#">New from this version</a></li>
						  <li class="divider"></li>
						  <li><a href="#">Delete</a></li>
					  </ul>
				  </div>
				  <time datetime="">1.1.2013</time>
			  </p>

            </article>


          </div>
       </div>
      </div>
    {% endblock content %}
