.promoted a {
    font-size: 150%;
}

div.competitions-list ul {
        list-style-type: none;
}
    
.promoted + :not(.promoted) {
        margin-bottom: 30px;
}

div.page-header {
	height: 60px;
	margin-top: 10px;
	position: relative;
	border: none;
}

div#logo {
	position: relative;
}

#context_menu > div{
	display: inline;
}

div#context_menu {
	position: absolute;
	right: 20px;
	top: 80px;
}

div#content {
	border: solid 2px #93E493;
	border-radius: 6px;
	padding: 50px 10px 10px 10px;
	background: #F8F8F8;
}

body {
	font-size: 18px;
	background: #f9f0df;
}

div#content div.section {
	padding-top: 30px;
	clear: both;
}

table#sections th {
	padding-right: 20px;
	font-weight: bold;
}

div.school div.school p {
	margin-bottom: 5px;
}

table#sections td, table#sections th {
	vertical-align: top;
	padding-bottom: 20px;
}

div.page-footer {
	width: 100%;
	text-align: right;
	margin-top: 20px;
}

/*********/
/* basic */
/*********/

.bold_text {
	font-weight: bold;
}
select {
	max-width: 180px;
}
.toLeft {
	text-align: left;
}

/**********/
/* button */
/**********/

.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #096b04;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
}

.button:hover {
  background: #428c24;
  text-decoration: none;
}



/***********/
/* answers */
/***********/

.correct_answer {
	font-weight: bold;
	color: #024302;
	margin-left: 1%;
}
.wrong_answer {
	font-weight: bold;
	color: #940000;
	margin-left: 1%;
}

/************/
/* attempts */
/************/

.attempts_list {
	overflow: auto;
	text-align: left;
}
.attempt {
	margin-left: 2%;
	margin-bottom: 1%;
	padding-left: 2%;
}
.attempt_info {
	font-style: italic;
}
.attempt_answers_info {
	margin-left: 2%;
}



/****************/
/* competitions */
/****************/

.competitions_list {
	min-height: 100px;
	max-height: 300px;
	overflow: auto;
	text-align: left;
	margin-left: 2%;
}
.competition_name {
	margin-bottom: 1%;
}
.competition_questionset {
	margin-left: 2%;
}
.competition_create {
	text-align: left;
	margin-left: 2%;
}



/***************/
/* footer logo */
/***************/

footer {
	text-align: center;
}

.footer_logos {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}
.footer_logo_in_cooperation {
	font-weight: bold;
	margin-left:  3%;
	margin-right: 1%;
}



/*********/
/* forms */
/*********/

/* regular form */
.form_table{
	margin-left: 2%;
}
.form_row {
	height: 35px;
}
.form_row:before,
.form_row:after {
    content: " ";
    display: table;
}
.form_row:after {
    clear: both;
}

.form_column {
	float:left;
	text-align:left;
	width:200px;
}



/* register form */
.form_register_table{
	margin-left: 2%;
}
.form_register_row {
	height: 35px;
}
.form_register_row:before,
.form_register_row:after {
    content: " ";
    display: table;
}
.form_register_row:after {
    clear: both;
}

.form_register_column {
	float:left;
	text-align:left;
	width:140px;
}

/* compete form */
.form_compete_table{
	margin-left: 2%;
}
.form_compete_row {
	height: 35px;
}
.form_compete_row:before,
.form_compete_row:after {
    content: " ";
    display: table;
}
.form_compete_row:after {
    clear: both;
}

.form_compete_column {
	float:left;
	text-align:left;
	width:100px;
}

