#competition_registration input,
#competition_registration select {
   margin: 5px 0 5px 10px;
}

#competition_registration table + input {
   margin-left: 170px;
   margin-top: 20px;
   min-width: 150px;
   background: green;
   font-weight: bold;
   font-size: 18px;
   color: white;
   padding-top: 0;
   padding-bottom: 0;
}

#competition_registration th {
    text-align: right;
    min-width: 140px;
}

.promoted a {
    font-size: 150%;
}

.footnote {
    font-size: 40%;
}

div.competitions-list ul {
        list-style-type: none;
}
    
li.promoted {
        margin-bottom: 30px;
}

div.page-header {
	height: 60px;
	margin-top: 10px;
	position: relative;
	border: none;
}

div#logo {
	position: relative;
}

#context_menu > div{
	display: inline;
}

div#context_menu {
	position: absolute;
	right: 20px;
	top: 80px;
}

div#content {
	border: solid 2px #93E493;
	border-radius: 6px;
	padding: 50px 10px 10px 10px;
	background: #F8F8F8;
}

body {
	font-size: 18px;
	background: #f9f0df;
}

div#content div.section {
	padding-top: 30px;
	clear: both;
}

table#sections th {
	padding-right: 20px;
	font-weight: bold;
}

div.school div.school p {
	margin-bottom: 5px;
}

table#sections td, table#sections th {
	vertical-align: top;
	padding-bottom: 20px;
}

div.page-footer {
	width: 100%;
	text-align: right;
	margin-top: 20px;
}


div.results-group,
div.prelim,
div.results-school {
    font-weight: bold;
    margin-top: 20px;
}
table.results {
    margin-left: auto;
    margin-right: auto;
}

table.results th {
    font-size: 80%;
    text-align: right;
    padding-right: 10px;
}

table.results tr.unconfirmed th {
    color: #aaa;
}

table.results span.qualify-button {
    display: inline-block;
    width: 12px;
    height: 14px;
    margin-left: 5px;
}

table.results tr.unconfirmed span.qualify-button {
    background: url(/static/img/qualify.png) 0px 0px/12px 12px no-repeat;
    margin-left: 29px; /* include the hidden pencil */
}

table.results tr.confirmed span.qualify-button {
    background: url(/static/img/disqualify.png) 0px 0px/12px 12px no-repeat;
}

table.results tr.unconfirmed td span {
    display: none;
}

table.results tr:nth-child(even) {
    background: white;
}

table.results tr {
    line-height: 150%
}

table.results td, table.results th {
    font-weight: normal;
}

table#results tr:first-of-type th {
    font-weight: bold;
}

table.results tr:first-of-type th,
table.results td {
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 80%;
}

table.results input {
    width: 90px;
    height: 20px;
    line-height: 20px;
}

span.correct {
    color: green;
}

span.wrong {
    color: red;
}

table.results tr.confirmed td.score, 
table.results tr.unconfirmed td.score {
    text-align: right;
    width: 27px;
}

table.results tr.unconfirmed th img.pencil {
    display: none;
}

table.results th img {
    padding-left: 5px;
}

table.results td.score {
    width: 30px;
    padding: 0;
}

td.score span {
    font-weight: bold;
    padding-left: 10px;
}

/*********/
/* basic */
/*********/

.bold_text {
	font-weight: bold;
}
select {
	max-width: 180px;
}
.toLeft {
	text-align: left;
}

/**********/
/* button */
/**********/

.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #096b04;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
}

.button:hover {
  background: #428c24;
  text-decoration: none;
}



/***********/
/* answers */
/***********/

.correct_answer {
	font-weight: bold;
	color: #024302;
	margin-left: 1%;
}
.wrong_answer {
	font-weight: bold;
	color: #940000;
	margin-left: 1%;
}

/************/
/* attempts */
/************/

.attempts_list {
	overflow: auto;
	text-align: left;
}
.attempt {
	margin-left: 2%;
	margin-bottom: 1%;
	padding-left: 2%;
}
.attempt_info {
	font-style: italic;
}
.attempt_answers_info {
	margin-left: 2%;
}



/****************/
/* competitions */
/****************/

.competitions_list {
	min-height: 100px;
	max-height: 300px;
	overflow: auto;
	text-align: left;
	margin-left: 2%;
}
.competition_name {
	margin-bottom: 1%;
}
.competition_questionset {
	margin-left: 2%;
}
.competition_create {
	text-align: left;
	margin-left: 2%;
}



/***************/
/* footer logo */
/***************/

footer {
	text-align: center;
}

.footer_logos {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}
.footer_logo_in_cooperation {
	font-weight: bold;
	margin-left:  3%;
	margin-right: 1%;
}



/*********/
/* forms */
/*********/

/* regular form */
.form_table{
	margin-left: 2%;
}
.form_row {
	height: 35px;
}
.form_row:before,
.form_row:after {
    content: " ";
    display: table;
}
.form_row:after {
    clear: both;
}

.form_column {
	float:left;
	text-align:left;
	width:200px;
}



/* register form */
.form_register_table{
	margin-left: 2%;
}
.form_register_row {
	height: 35px;
}
.form_register_row:before,
.form_register_row:after {
    content: " ";
    display: table;
}
.form_register_row:after {
    clear: both;
}

.form_register_column {
	float:left;
	text-align:left;
	width:140px;
}

/* compete form */
.form_compete_table{
	margin-left: 2%;
}
.form_compete_row {
	height: 35px;
}
.form_compete_row:before,
.form_compete_row:after {
    content: " ";
    display: table;
}
.form_compete_row:after {
    clear: both;
}

.form_compete_column {
	float:left;
	text-align:left;
	width:100px;
}

