/**********/
/* button */
/**********/

.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #096b04;
  padding: 8px 15px 8px 15px;
  text-decoration: none;
}

.button:hover {
  background: #428c24;
  text-decoration: none;
}



/***********/
/* answers */
/***********/

.correct_answer {
	font-weight: bold;
	color: #024302;
	margin-left: 1%;
}
.wrong_answer {
	font-weight: bold;
	color: #940000;
	margin-left: 1%;
}

/************/
/* attempts */
/************/

.attempts_list {
	overflow: auto;
	text-align: left;
}
.attempt {
	margin-left: 2%;
	margin-bottom: 1%;
	padding-left: 2%;
}
.attempt_info {
	font-style: italic;
}
.attempt_answers_info {
	margin-left: 2%;
}



/****************/
/* competitions */
/****************/

.competitions_list {
	min-height: 100px;
	max-height: 300px;
	overflow: auto;
	text-align: left;
	margin-left: 2%;
}
.competition_name {
	margin-bottom: 1%;
}
.competition_questionset {
	margin-left: 2%;
}
.competition_create {
	text-align: left;
	margin-left: 2%;
}



/***************/
/* footer logo */
/***************/

footer {
	text-align: center;
}

.footer_logos {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}
.footer_logo_incorporation {
	font-weight: bold;
	margin-left:  3%;
	margin-right: 1%;
}
