/*-------normalise----------------------------------------------------------------------------*/

body, h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code {
	padding: 0; 
	margin: 0; 
	line-height: 1.5em;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
}
table {
	font-size: inherit;
	font: 100%;
}
ul {
	list-style: none;
}
img {
	border: 0;
}
p {
	margin: 1em 0;
}



/*-------global--------------------------------------------------------------------------*/

body{
	font-family: 'Georgia Pro', georgia, serif;
	font-size: 11pt;
	color: #018301;
	background-color: white;
	border-top: 1px solid transparent;
}


.clear{
	clear: both;
}


h1{
	font-size: 25px;
	font-weight: bold;
	line-height: 42px;
	padding: 15px 0 20px 0;
	text-align: center;
}
h2{
	color: #547615;
	font-family: 'Cambria', 'Georgia Pro', georgia, serif;
	font-style: italic;
	font-size: 20px;
	padding-left: 1em;
}


p{
	margin: 1em 3em;
}


a.navbar-brand{
	text-decoration: none;
	color: #FFF;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none;
	background-color: #44E;
	color: #FFF;
}

form fieldset{
	border: none;
	border-radius: 10px;
	margin: 1em;
	padding: 0 65px;
}
form fieldset label{
	float: left;
	width: 150px;
	text-align: right;
	padding-right: 10px;
}
form input{
	margin: 2px 0;
	padding: 1px 0;
	float: left;
	width: 300px;
	border-radius: 8px;
	border: 1px inset rgb(191, 191, 191); /*for IE 7, 8*/
	/*border: 1px inset rgba(0, 0, 0, 0.2);*/
	background-color: rgb(241, 247, 236); /*for IE 7, 8*/
	background-color: rgba(255,255,255,0.6);
}
form select{
	border: 1px inset rgb(237, 250, 237); /*for IE 7, 8*/
	border: 1px inset rgba(46, 167, 46, 0.2);
	background-color: rgb(241, 247, 236);
}
form button{
	padding: 5px 8px;
	margin-left: 197px;
	border-radius: 8px;
	border: 2px outset rgb(191, 191, 191);
	background-color: rgb(44, 35, 8); /*for IE 7, 8*/
	background-color: rgba(44, 35, 8, 0.8);
	color: rgb(218, 238, 197);
	cursor: pointer;
}



/*-------spesific------------------------------------------------------------------------*/

.stripe1{
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0px; 
	background-color: transparent;
}
.stripe2{
	position: absolute;
	left: 0px; top: 100px;
	z-index: 1;
	width: 100%;
	height: 50px;
	/*background-color: #44E;*/ /*for IE 7, 8*/ 
	background-color: #44E;
	}


.wrapper{
	position: relative;
	width: 952px;
	margin: 28px auto 0 auto;
	/* background-color: transparent; */
}


.wrapper .header a.logo{
	display: block;
	width: 235px;
	height: 107px;
	position: relative;
	left: 88px;
	top: 19px;
	z-index: 5;
	background-color: transparent !important;
}

.header a:hover{
	background-color: transparent !important;
}

.wrapper .header ul.nav{
	width: 596px;
	position: relative;
	top: -35px;
	left: 356px;	
	z-index: 5;
}
.wrapper .header ul.nav li{	
	display: inline; /*for IE 7, 8*/
}
.wrapper .header ul.nav li a, .wrapper .header ul.nav li span{
	height: 45px;
	line-height: 45px;
	padding: 5px 20px 5px 20px;
	font-family: 'Cambria', 'Georgia Pro', georgia, serif;
	font-style: italic;
	font-size: 20px;
}

.wrapper .content .sidebar{
	float: left;
	width: 286px;
}
.wrapper .content .sidebar a{
	display: block;
	width: 159px;
	padding: 10px 10px 7px 10px;
	margin: 20px 30px;
	background-color: rgb(44, 35, 8); /*for IE 7, 8*/
	border-radius: 10px;
	color: rgb(218, 238, 197);
	text-align: center;
	line-height: 20px;
}
.wrapper .content .sidebar a img{
	display: block; /*for IE 7, 8*/
	margin-bottom: 3px; /*for IE 7, 8*/
}


.wrapper .content .text{
	float: right;
	width: 634px;
	margin: 20px;
	border-radius: 10px;
}
.wrapper .content .text ul{
	list-style: disc;
	padding-left: 5em;
}
.wrapper .content .text ul li{ 
	padding-bottom: 0.5em;
}
.wrapper .content .text ul.services{
	list-style: none;	
}
.wrapper .content .text ul.services li{
	float: left;
	width: 159px;
	padding: 10px 10px 7px 10px;
	margin: 20px 30px 0 30px;
	text-align: center;
	line-height: 20px;
}
.wrapper .content .text ul.services li img{
	display: block; /*for IE 7, 8*/
	margin-bottom: 3px; /*for IE 7, 8*/
}


.wrapper .content .logo_transparent{
	/*
	 * background: url('/bober-static/img/logo_transparent.png') center top no-repeat;
	 * background-size: 20%;
	 */
	height: 107px;
	padding-bottom: 15px;
	clear: both;
}



span.star{
	color: red;
}




p.bottom_text{
	margin: 1em;
	padding: 1em 1em 1em 1em;
	font-size: 16px;
	line-height: 21px;
}


/*------------------footer-------------------------------------------------------------*/
.footer{
	text-align: center;
	margin: 10px auto;
	color: rgb(218, 238, 197);
	width: 952px;
}
.footer a{
	color: rgb(44, 35, 8);
}
.footer a:hover{
	background-color: transparent !important;
}

.footer_logo_in_cooperation {
	color: #000;
	vertical-align: center;
}
