{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load url_sort %}
{% load render_table from django_tables2 %}
{% block headline %}{% trans "Task list" %}{% endblock headline %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <h3>{% trans "List of tasks in language " %}{{ language.value }}:</h3>
    <div class="well">
        {% trans "Change language" %}
        {% for lang in LANGUAGES %}
            | <a href="?language_locale={{ lang.0 }}">{{ lang.1 }}</a>
        {% endfor %}
        <a class="btn btn-primary pull-right" href="{% url "tasks.new" %} ">{% trans "New task" %}</a>
    </div>

    <div class="well custom">
        <div class="row">
            <div class="span12" style="height: 40px;">
              <form action="" method="get">
                <input class="span2" id="search" name="title" placeholder="{% trans "Search" %}..."
                        type="text" >
                <button class="btn" id="searchButton" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </form>
              <!--  <form action="" method="" class="form-search form-horizontal"
                      style="margin:0px;display:inline;">

                    <div class="input-append" style="position:relative; left:20px;">

                        <input class="span2" id="search" name="search" placeholder="{% trans "Search" %}..."
                                type="text" >
                        <button class="btn" id="searchButton" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </form> -->
            </div>
        </div>

        <form class="" action="" method="get">
          {% render_table table %} <br>
          <input type="button" name="name" value="Export Tasks">
        </form>



      <!--  <table class="taskTable table table-hover">

            <thead>
              <tr>
                  <th data-sort="string">{% trans "Title" %}<i class="fa fa-fw fa-sort"></i></th>
                  <th data-sort="string">{% trans "Description" %}<i class="fa fa-fw fa-sort"></a>
                  </th>
                  <th data-sort="string">{% trans "Last edit" %}<i class="fa fa-fw fa-sort"></a>
                  </th>

              </tr>
            </thead>
            {% comment %} SEARCH  {% endcomment %}

            {% if task_translations %}
            <tbody id="fbody">
                {% for task_translation in task_translations %}

                      <tr>
                          <td>
                              <a href="{% url "tasktranslation_detail" task_translation.id %} ">
                                  {{ task_translation.title }}
                              </a>
                          </td>


                          <td>
                              {{ task_translation.body|safe|striptags|truncatechars:150 }}
                          </td>
                          <td>
                              {{ task_translation.timestamp }}
                          </td>
                      </tr>

                {% endfor %}
                </tbody>
                <tfoot>
        				</tfoot>
            {% endif %}
        </table> -->

        <!--
        <div class="pagination pagination-centered">
            <ul>
                {% if task_translations.has_previous %}
                    <li><a href="?page={{ task_translations.previous_page_number }}">Prev</a></li>
                {% endif %}
                <li>
              <span class="current">
                  Page {{ task_translations.number }} of {{ task_translations.paginator.num_pages }}
              </span>
                </li>
                {% if task_translations.has_next %}
                    <li><a href="?page={{ task_translations.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </div> //-->
    </div>

    <div id="erorrModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Empty field</h3>
        </div>
        <div class="modal-body">
            <p>

            <div class="alert alert-error">{% trans "Field cannot be empty" %}</div>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>


{% endblock content %}

{% block script %}
    <script type="text/javascript" charset="utf-8">
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }

        $("input[type='checkbox']").change(function () {
            var id = $(this).attr('id');
            if (this.checked) {
                $('.t' + id).fadeIn();
            } else {
                $('.t' + id).fadeOut();
            }
        });

        $('#searchbutton').click(function () {

            $('table.table tr').filter('.searchtr').toggle('fast', function () {

                // Animation complete.
            });


        });
        if (getUrlVars()["adv"] == "true") {
            $('table.table tr').filter('.searchtr').toggle('fast', function () {
                // Animation complete.
            });
        }


        $('.selectpicker').selectpicker();

    </script>
{% endblock script %}
