{% extends 'base.html' %}
{% load i18n %}
{% block content %}
 <div>
 <h1>{% trans "Login" %}</h1>

 <p>
   {% if user and not user.is_anonymous %}
      {% trans "Hello," %} {{ user.get_full_name|default:user.username }}!
   {% else %}
   <ul>
<!--     <li>
       <a class="btn" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">{% trans "Login with" %} Facebook</a>
     </li> -->
     <li>
       <a class="btn" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">{% trans "Login with" %} Google</a>
     </li>
   </ul>
   {% endif %}
 </p>
 <p>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
 </p>
 </div>
{% endblock %}
