{% extends 'base.html' %}
{% load i18n %}
{% block content %}
 <div>
 <h1>{% trans "Login" %}</h1>

 <p>
   {% if user and not user.is_anonymous %}
      {% trans "Hello," %} {{ user.get_full_name|default:user.username }}!
   {% else %}
   <ul>
<!--     <li>
       <a class="btn" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">{% trans "Login with" %} Facebook</a>
     </li> -->
     <li>
       <a class="btn" href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}">{% trans "Login with" %} Google</a>
     </li>
   </ul>
   {% endif %}
 </p>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
{{form.as_table}}
</table>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
 </p>
 <p>
<a href="{% url "password_reset" %}">{% trans "I have forgotten my password" %}</a>
 </div>
{% endblock %}
