/* --------------- CONTROL PANEL ----------------- */
#control-panel-content form {
    padding-right: 10px;
    padding-left: 10px;
}

div#control-panel-menu {
    width: 180px !important;
}

div#control-panel-content {
    padding-left: 215px !important;
    width: 955px !important;
}

div#control-panel-content ul.breadcrumb {
    margin-bottom: 17px;
}

div#parameters-settings form table {
    margin-left: 10px;
    width: 910px;
}

.control-panel-label {
    position: relative;
    top: -2px;
}

.errorlist{
  padding:7px;
  margin:3px;
  padding: 8px 35px 8px 14px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.errorlist li{
  list-style:none;
  padding:0px;
  margin:0px;
}

/* --------------- USER PROFILE ---------------------- */
#profile form {
    padding: 10px;
}

.sidebar h3 {
    font-size: 14px;
    line-height: normal;
}

.grey {
    color: #CCC;
}