body {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 400px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin h2 {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.form-signin .register-link {
    position: relative;
    top: 26px;
}

.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin .add-on {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    width: 345px;
}

.form-signin i.icon {
    margin-top: 3px;
}