{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Results" %}{% endblock %}

{% block headline %}{% trans "Results" %}{% endblock %}

{% block content %}
<div class="attempts_list">
    <div class="attempt">
    {%for i in object_list %}
        <div class="attempt_answers_info">
            <h3 class="attempt_question">{% trans "Question" %}: {{i.question}}</h3>
            <span>{{i.timestamp|date:"c"}}</span>
            <span>val: <em>{{i.value}}</em></span>
            {% if i.gradedanswer_set.all.0 == None %}<span class="correct_answer">?</span>
            {% elif i.gradedanswer_set.all.0.score < i.question.none_score or i.gradedanswer_set.all.0.score == i.question.min_score %}<span class="wrong_answer">score: {{i.gradedanswer_set.all.0.score}}</span>
            {% else %}<span class="correct_answer">score: {{i.gradedanswer_set.all.0.score}}</span>
            {% endif %}
            <span>r_question_id: {{i.randomized_question_id}}</span>
            <span>sc: {{i.score}}</span>
            <span>ip: {{i.remote_addr}}</span>
        </div>
    {%endfor%}
    </div>
</div>
<a href="{% url "competition_compete" slug=competition.slug %}">Return to competition</a>
{% endblock %}
