{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block headline %}{% trans "Registration" %}{% endblock %}

{% block content %}
<br>
<br>
<form action="" method="post" id="competition_registration" class="form_compete_table">
{% csrf_token %}
<table>
  {{ form }}
</table>
<input type="submit" value='{% trans "Compete" %}' class="btn"/>
</form>
<p style="margin-top: 24px; margin-left: 180px;">
<a style="font-size: 18px;" href="{% url 'competition_overview' slug=competition.slug %}" class="btn">{% trans "Login as a teacher" %}</a>
</p>{% load static %}
{% endblock %}
