{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Competition" %}{% endblock %}

{% block headline %}{% trans "Competitions in progress" %}{% endblock %}

{% block content %}
<br>
<div class="competitions_list">
{% for i in object_list %}
	<div class="competitionlist">
			<big><strong>{{i.slug}}</strong></big>
			&nbsp;
			<a href='{% url "competition_code_list" competition_slug=i.slug %}' class="btn">{% trans "codes" %}</a>
			<a href='{% url "competition_attempt_list" competition_slug=i.slug %}' class="btn">{% trans "attempts" %}</a>
			<div class="questionsets">
				  {% for j in i.competitionquestionset_set.all %}
				<div>
					<a href="{% url 'competition_registration' competition_questionset_id=j.id %}">{{j.name}} - {{j.questionset.name}}</a>
					&nbsp;&nbsp;					
					<a href="{% url 'competition_guest' competition_questionset_id=j.id %}">{% trans "Compete as guest" %}</a>
				</div>
				  {% endfor %}
			</div>
	</div>
	{% endfor %}
</div>

<br>
<div class="toLeft">
<br>
<a href="{% url "competition_create" %}" class="btn">{% trans "Create competition" %}</a>
</div>
{% endblock %}
