{% load i18n %}{% load static from staticfiles %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="sl" lang="sl">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Bober - tekmovanja" />
        <meta name="author" content="FRI and Comcode, d.o.o." />
        <meta name="robots" content="noindex" />
        <link rel="stylesheet" type="text/css" href="{% static 'bober_simple_competition/css/jui/jquery-ui.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bober_simple_competition/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bober_simple_competition/css/jquery.jCounter.css' %}" />
        <script type="text/javascript" src="{% url 'javascript-catalog' packages='bober_simple_competition' %}"></script>
        <script type="text/javascript" src="{% static 'bober_simple_competition/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'bober_simple_competition/js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bober_simple_competition/js/jquery.jCounter.js' %}"></script>
        <script type="text/javascript" src="{% static 'bober_simple_competition/js/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'bober_simple_competition/js/jszip-utils.js' %}"></script>
        <script type="text/javascript" src="{% static 'bober_simple_competition/js/jszip.min.js' %}"></script>
        <!--
        Mandatory in IE 6, 7, 8 and 9.
        -->
        <!--[if IE]>
        <script type="text/javascript" src="{% static 'bober_simple_competition/js/jszip-utils-ie.min.js' %}"></script>
        <![endif]-->
        <title>Bober</title>

        <!--[if IE 7]>
        <link href="{% static 'bober_simple_competition/css/styleIE7.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <![endif]-->
        
        <link rel="shortcut icon" href="{% static 'bober_simple_competition/img/favicon.ico' %}" type="image/x-icon" />

    </head>
    <body>
<!-- Require the navigation -->

<div class="container-fluid">				

    <!-- Include content pages -->
    <div id="content">
			<!-- breadcrumbs -->
<div class="test_set">
    <div class="q_top">
        <div id="title_and_timer">
            <h1 id="competition_title">Competition title</h1>
        </div>
        <div class="collumns">
            <div class="column1" style="overflow: auto;">
                <div class="qbartop">
                    <ul class="task_navigation">
                        <div style="display: none;" class="point_template">
                            <li class="point"><a href="#"></a></li>
                        </div>
                    </ul>
                </div>
                <div class="answeredStats hide-controls">
                    <span id=answered_trans>{% trans "Answered" %}</span>:&nbsp;<span id="answered_count"></span>&nbsp;/&nbsp;<span id="answers_count"></span>
                </div>
            </div>
            <div class="column2">
                <div class="header_controls">
                    <div id="answered" class="hide-controls">
                        <div class="countdown_wrapper countdown_counter">
                            <span id="countdown_title">{% trans "Time left" %}:</span><br />
                            <span class="time"><span class="minutes">00</span>&nbsp;<span class="time_unit">min</span></span>
                        </div>
                    </div>
                    <div id="ending" class="hide-controls">
                        <a href="#" id="end_quiz" onclick="finish_competition();
                                return false;"><span id=trans_finish>{% trans "Finish" %}</span></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="task_header hide-controls">
        <div class="middlebar">
            <span class="task_name"></span><span id="task_country"></span>
            <input style="float: right;" type="button" value="{% trans 'Clear Answer' %}" class="btn" onclick="return resetResponse();" />
            <div id="bottom_msg"></div>
        </div>
    </div>

    <div class="question" id="questions">
        <div id="progressbar"><div class="progress-label"><span id=trans_loading>Loading</span></div></div>
    </div>
</div>

<div class="podbar hide-controls" style="display: none;">
    <div class="bottombar">
        <input type="button" value="{% trans 'Clear Answer' %}" class="btn" onclick="return resetResponse();" />
        <div id="bottom_msg"></div>
    </div>
</div>

<script type="text/javascript">
    var attempt_id = '';
    var questionset_url = "html_cache.zip";
    var current_selected_question = 0;
    var controlsEnabled = true;
    var answers = {};
    var question_data = {};
    var progressbar, progressLabel;
    var counterStarted = false;
    var counterTimer = 0;
    var server_finish_time;
    var counterRedBeforeEndTimeSeconds = 5 * 60; // 5 minut
    var enabledConfirmExit = false;
    var countAllQuestions = 0;
    var callback_question_id = 0;
    var timers = {};
    var images_url = "{% static 'bober_simple_competition/img' %}"
    
    // prevent refresh without saving
    function confirmExit() {
        if (enabledConfirmExit) {
            saveResponse(current_selected_question);
            return gettext('You have attempted to leave this page. Your last question answer will be saved automatically. Are you sure you want to exit this page?')
        }
    }
    window.onbeforeunload = confirmExit;
    function cleanupLastQuestionCookie() {
        jQuery.removeCookie('current_selected_question');
    }

    function makePrevQuestionLink(){
        var el = jQuery('.point_template .point').clone();
        var a = jQuery(el).find('a');
        jQuery(a).attr('id', 'previous_button');
        jQuery(a).attr('href', '#');
        jQuery(a).addClass("navigation");
        jQuery(a).bind('click', function() {
            previousQuestion();
            return false;
        });
        jQuery(a).html("<");
        jQuery("ul.task_navigation").append(el);
    }
    
    function makeNextQuestionLink(){
        var el = jQuery('.point_template .point').clone();
        var a = jQuery(el).find('a');
        jQuery(a).attr('id', 'next_button');
        jQuery(a).attr('href', '#');
        jQuery(a).addClass("navigation");
        jQuery(a).bind('click', function() {
            nextQuestion();
            return false;
        });
        jQuery(a).html(">");
        jQuery("ul.task_navigation").append(el);
    }

    function makeQuestionLink(question_id, label){
        var el = jQuery('.point_template .point').clone();
        // link
        var a = jQuery(el).find('a');
        a.attr('id', 'question_button_' + question_id);
        a.bind('click', function() {
            if (controlsEnabled) {
                saveResponse(current_selected_question)
                var question_id = parseInt(
                    this.href.split('#')[1], 10);
                showQuestion(question_id);
                updateIframeSize();
            //  GAPushEvent("CompetitionNavigation", "clickedDirectly");
            }
            return false;
        });
        jQuery(a).attr('href', '#' + question_id.toString());
        jQuery(a).html(label);
        jQuery("ul.task_navigation").append(el);
    }


    function populateIframe(iframe, content){
        var iframe_doc = iframe.get(0).contentWindow.document;
        iframe_doc.open();
        iframe_doc.write(content);
        iframe_doc.close();
    }

    function loadQuestions(questionset_url) {
        $("#questions").text(questionset_url);
        makePrevQuestionLink();
        JSZipUtils.getBinaryContent(questionset_url, function(err, zip_data) {
            if(err) {
                alert(gettext("Error loading questions") + " (" + err + ")");
                window.location.href='../'
                throw err; // or handle err
            }
            var zip = new JSZip(zip_data);
            var q = $("#questions");
            q.text("");
            jQuery.ajax({
                "url": "../data.json",
                "type": "GET",
                "dataType": "JSON",
                "cache": false,
                "error": function(jqXHR, textStatus, errorThrown){
                    alert(gettext("Error loading competition data") + " (" + errorThrown + ")");
                    window.location.href='../'
                },
                "success": function(user_data) {
                    server_finish_time = user_data['finish'];
                    var mapped_answers = {};
                    var reverse_question_map = {};
                    var ordered_mapped_questions = [];
                    $("#competition_title").text(user_data.competition_title);
                    for (var q_id in user_data.question_map){
                        var mapped_id = user_data.question_map[q_id];
                        reverse_question_map[mapped_id] = q_id;
                        ordered_mapped_questions[ordered_mapped_questions.length] = mapped_id;
                    };
                    ordered_mapped_questions.sort()
                    for (var i = 0; i < user_data.answers.length; i++){
                        var ua = user_data.answers[i];
                        mapped_answers[ua.q] = ua.a;
                    }; 
                    for (var i = 0; i < ordered_mapped_questions.length; i++){
                        var mapped_id = ordered_mapped_questions[i];
                        var q_id = reverse_question_map[mapped_id];
                        var manifest = JSON.parse(zip.file(q_id + "/Manifest.json").asText());
                        manifest.mapped_question_id = mapped_id;
                        manifest.random_seed = user_data.random_seeds[q_id]
                        var question_id = manifest.id;
                        if (!(mapped_id in mapped_answers)){
                            answers[question_id] = '';
                        } else {
                            answers[question_id] = mapped_answers[mapped_id]
                        }
                        question_data[question_id] = manifest;
                        // current question
                        makeQuestionLink(question_id, i+1);
                        var iframe = $('<iframe class="naloga naloga_hide" id="naloga_' + question_id + '" />');
                        q.append(iframe);
                        var index_page = zip.file(q_id + '/index.html').asText();
                        if (jQuery.cookie("current_selected_question")) {
                            current_selected_question = jQuery.cookie("current_selected_question");
                        } else if (i == 0) current_selected_question = question_id;
                        iframe.bind('load', function(){
                            var iframe = $(this);
                            var iframe_dom = iframe.get(0).contentWindow;
                            var question_id = this.id.slice("naloga_".length);
                            iframe_dom.task.load(question_data[question_id]["random_seed"], 1);
                            iframe_dom.task.reloadAnswer(answers[question_id]);
                            markQuestionAsAnswered(question_id, answers[question_id]);
                            if (question_id == current_selected_question) showQuestion(current_selected_question);
                        });
                        populateIframe(iframe, index_page);
                    }
                    attempt_id = user_data.attempt_id;
                    makeNextQuestionLink();
                    updateAnsweredQuestionCountDisplay();
                    /* getTimeToEndOfCompetition();
                    setInterval("getTimeToEndOfCompetition()", 5 * 60 * 1000); */
                    lightTimeToEndOfCompetition();
                    setInterval("lightTimeToEndOfCompetition()", 5 * 60 * 1000);
                    jQuery('.hide-controls').removeClass('hide-controls');
                },
            });
        });
    }

    function pushStyleToIframe(doc, css) {
        var head = doc.document.getElementsByTagName('head')[0];
        var style = doc.document.createElement('style');
        style.type = 'text/css';
        if (style.styleSheet) {
            style.styleSheet.cssText = css;
        } else {
            style.appendChild(doc.document.createTextNode(css));
        }
        head.appendChild(style);
    }

    function markQuestionAsAnswered(question_id, answer) {
        if (answer === '') {
            jQuery("#question_button_" + question_id).removeClass("question_answered");
        } else {
            jQuery("#question_button_" + question_id).addClass("question_answered");
        }
    }
    function lightTimeToEndOfCompetition() {
        jQuery.ajax({
            "url": "../server_time.json",
            "type": "GET",
            "dataType": "JSON",
            "cache": false,
            "success": function(allData) {
                var server_time = allData['timestamp']
                var seconds_to_end = server_finish_time - server_time;
                if (seconds_to_end < -5) {
                    onCompetitionNoTimeLeft();
                }
                if (counterStarted) {
                    jQuery(".countdown_counter").jCounter('stop');
                    clearTimeout(counterTimer);
                }
                var secondsToTimeout = seconds_to_end - counterRedBeforeEndTimeSeconds;
                changeColorOfTime('black');
                if (secondsToTimeout > 0) {
                    counterTimer = setTimeout("changeColorOfTime('red')", (secondsToTimeout) * 1000);
                } else {
                    changeColorOfTime('red');
                }
                // console.log(seconds_to_end);
                if (seconds_to_end > 60) {
                    jQuery(".seconds").addClass("minutes").removeClass("seconds");
                    var custom_duration = seconds_to_end.toString() + ":60";
                    // console.log(custom_duration);
                    jQuery(".countdown_counter").jCounter({
                        "animation": "slide",
                        "format": "mm",
                        "twoDigits": 'off',
                        // "customDuration": seconds_to_end,
                        "serverDateSource": '',
                        "customRange": custom_duration,
                        "callback": function() {
                            lightTimeToEndOfCompetition();
                        }
                    });
                } else {
                    if (counterStarted) {
                        jQuery(".countdown_counter").jCounter('stop');
                        clearTimeout(counterTimer);
                    }
                    jQuery(".minutes").addClass("seconds").removeClass("minutes");
                    jQuery(".time_unit").html("s");
                    jQuery(".countdown_counter").jCounter({
                        "animation": "slide",
                        "format": "ss",
                        "twoDigits": 'off',
                        "customDuration": seconds_to_end,
                        "serverDateSource": '',
                        "callback": function() {
                            onCompetitionNoTimeLeft();
                        }
                    });
                }
                counterStarted = true;
                enabledConfirmExit = true;
            }
        })
    }
    function getTimeToEndOfCompetition() {
        jQuery.ajax({
            "url": "../attempts/"+attempt_id+"/time_remaining.json",
            "type": "GET",
            "dataType": "JSON",
            "cache": false,
            "success": function(allData) {
                if (allData["success"]) {
                    var seconds_to_end = allData['seconds_to_end'];
                    // console.log(seconds_to_end);
                    if (counterStarted) {
                        jQuery(".countdown_counter").jCounter('stop');
                        clearTimeout(counterTimer);
                    }
                    var secondsToTimeout = seconds_to_end - counterRedBeforeEndTimeSeconds;
                    changeColorOfTime('black');
                    if (secondsToTimeout > 0) {
                        counterTimer = setTimeout("changeColorOfTime('red')", (secondsToTimeout) * 1000);
                    } else {
                        changeColorOfTime('red');
                    }
                    // console.log(seconds_to_end);
                    if (seconds_to_end > 60) {
                        jQuery(".seconds").addClass("minutes").removeClass("seconds");
                        var custom_duration = seconds_to_end.toString() + ":60";
                        // console.log(custom_duration);
                        jQuery(".countdown_counter").jCounter({
                            "animation": "slide",
                            "format": "mm",
                            "twoDigits": 'off',
                            // "customDuration": seconds_to_end,
                            "serverDateSource": '',
                            "customRange": custom_duration,
                            "callback": function() {
                                getTimeToEndOfCompetition();
                            }
                        });
                    } else {
                        if (counterStarted) {
                            jQuery(".countdown_counter").jCounter('stop');
                            clearTimeout(counterTimer);
                        }
                        jQuery(".minutes").addClass("seconds").removeClass("minutes");
                        jQuery(".time_unit").html("s");
                        jQuery(".countdown_counter").jCounter({
                            "animation": "slide",
                            "format": "ss",
                            "twoDigits": 'off',
                            "customDuration": seconds_to_end,
                            "serverDateSource": '',
                            "callback": function() {
                                onCompetitionNoTimeLeft();
                            }
                        });
                    }
                    counterStarted = true;
                    enabledConfirmExit = true;
                } else {
                    if (allData['errorCode'] && allData['errorCode'] === 9) {
                        onCompetitionNoTimeLeft();
                    } else {
                        alert("ku?" + allData['error']);
                    }
                }
            }
        });
    }

    function changeColorOfTime(color) {
        jQuery(".time").css('color', color);
    }

    function onCompetitionNoTimeLeft() {
        // GAPushEvent("CompetitionFinished", "timeout");
        enabledConfirmExit = false;
        cleanupLastQuestionCookie();
        alert(gettext("You are out of time for solving the competition."));
        /* window.close(); */
        window.location = '/';
    }

    function showQuestion(question_id) {
        current_selected_question = question_id;
        jQuery.cookie('current_selected_question', current_selected_question);
        disableEnableControls(false);
        var naloga = jQuery('#naloga_' + question_id);
        if (!naloga) {
            alert('Missing HTML element for task.');
        }
        jQuery('.naloga').each(function() {
            if (!jQuery(this).hasClass('naloga_hide')) {
                jQuery(this).fadeOut(500);
                jQuery(this).delay(500).addClass('naloga_hide');
            }
        });
        naloga.removeClass('naloga_hide');
        jQuery('.point a').removeClass('currentQuestion');
        jQuery("#question_button_" + question_id).addClass("currentQuestion");

        disableEnableControls(true);

        jQuery(naloga).fadeIn(300, "swing", updateIframeSize);
        jQuery(".task_name").html(jQuery("#question_button_" + question_id).text() + ". " + question_data[question_id]["title"]);
        jQuery("#task_country").html("<img src=\""+images_url + "/flags-iso/flat/32/"+ question_data[question_id]["country"] + ".png\" alt=\""+question_data[question_id]["country"]+"\"/>");
        return true;
    }

    function disableEnableControls(enable) {
        // console.log('Controls: ', enable);
        controlsEnabled = enable;
        if (enable) {
            jQuery('a').unbind("click.myDisable");
            jQuery('input').unbind("click.myDisable");
        } else {
            jQuery('a').bind("click.myDisable", function() {
                return false;
            });
            jQuery('input').bind("click.myDisable", function() {
                return false;
            });
        }
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function saveResponse(question_id, callback) {
        if (!controlsEnabled) return;
        var answer = document.getElementById('naloga_' + question_id).contentWindow.task.getAnswer();
        if (answers[question_id] == answer){
            if (callback) {
                callback();
            }
            return;
        }
        var csrftoken = jQuery.cookie('csrftoken');
        jQuery.ajax({
            "url": "../attempts/" + attempt_id + "/submit.json",
            "type": "POST",
            "data": {"q": question_data[question_id].mapped_question_id, "a": answer},
            "dataType": "JSON",
            "cache": false,
            "beforeSend": function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            "success": function(data) {
                // GAPushEvent("CompetitionQuestionSaving", "clicked");
                if (data["success"]) {
                    answers[question_id] = answer;
                    updateAnsweredQuestionCountDisplay();
                    var msg = answer === '' ? gettext("Your answer was successfully cleared!") : gettext("Your answer was successfully saved!");
                    markQuestionAsAnswered(question_id, answer);
                    jQuery("#bottom_msg").empty().append(msg);
                    jQuery("#bottom_msg").fadeIn('fast', function() {
                            setTimeout(function() {
                                    $("#bottom_msg").fadeOut('slow');
                                    }, 5000);
                            });
                } else {
                    if (data['errorCode'] && data['errorCode'] === "out_of_time") {
                        onCompetitionNoTimeLeft();
                    } else {
                        alert(gettext("Problem saving response (") + data["errorCode"] + ")");
                    }
                }
            },
            "complete": function() {
                if (callback) {
                    callback();
                }
            }
        });
    }

    function updateAnsweredQuestionCountDisplay() {
        var count = updateAnsweredQuestionCount();
        jQuery('#answered_count').empty().append(count["count"].toString());
        jQuery('#answers_count').empty().append(count["all"].toString());
    }

    function updateAnsweredQuestionCount() {
        var count = 0;
        var count_all = 0;
        for (var key in answers) {
            if (answers[key] !== '') {
                count++;
            }
            count_all++;
        }
        return {"count": count, "all": count_all};
    }

    function resetResponse() {
        if (controlsEnabled) {
            if (confirm(gettext("Are you sure you want to clear answer?"))) {
                document.getElementById('naloga_' + current_selected_question).contentWindow.task.reloadAnswer("");
                saveResponse(current_selected_question);
                // GAPushEvent("CompetitionQuestionReset", "clicked");
            }
        }
    }

    function nextQuestion(saved) {
        if (controlsEnabled) {
            jQuery("#question_button_" + current_selected_question).parent().next().find('a:not(.navigation)').click();
        }
    }

    function previousQuestion(saved) {
        if (controlsEnabled) {
            jQuery("#question_button_" + current_selected_question).parent().prev().find('a:not(.navigation)').click();
        }
    }

    String.prototype.format = function() {
        var formatted = this;
        for (arg in arguments) {
            formatted = formatted.replace("{" + arg + "}", arguments[arg]);
        }
        return formatted;
    };

    function finish_competition_saved() {
        finish_competition(true);
    }

    function finish_competition(saved) {
        if (saved) {
            var confirm_msg = "";
            var redirect_url;
            var count = updateAnsweredQuestionCount();
            if (count['count'] !== count['all']) {
                var unanswered = count['all'] - count['count'];
                var confirm_fmt = ngettext("You left %s question unanswered. ", "You left %s questions unanswered. ", unanswered)
                confirm_msg += interpolate(confirm_fmt, [unanswered]);
            }
            confirm_msg += gettext("Are you sure you want to finish the competition?");
            if (confirm(confirm_msg)) {
                // GAPushEvent("CompetitionFinished", "clicked");
                disableEnableControls(false);
                enabledConfirmExit = false;
                cleanupLastQuestionCookie();
                jQuery.ajax({
                    "url": "../attempts/" + attempt_id + "/finish.json",
                    "type": "POST",
                    "data": {"finish": true},
                    "dataType": "JSON",
                    "cache": false,
                    "success": function(data) {
                        if (data["success"]) {
                            redirect_url = data["redirect_url"];
                            alert(gettext("Thank you for participating in the competition"));
                        } else {
                            alert(data["errorCode"]);
                        }
                    },
                    "beforeSend": function(xhr, settings){
                        xhr.setRequestHeader("X-CSRFToken", jQuery.cookie('csrftoken'));
                    },
                    "error": function() {
                        alert(gettext("An error has occured. Please try to finish competition again."))
                    },
                    "complete": function() {
                        disableEnableControls(true);
                        /* window.close(); */
                        window.location = redirect_url;
                    }
                });
            }
        } else {
            // GAPushEvent("CompetitionFinished", "confirm");
            saveResponse(current_selected_question, finish_competition_saved);
        }
    }

    function updateIframeSize() {
        // update to windows size
        // jQuery("#naloga_" + current_selected_question).css('height', (jQuery(window).height() - 310) + 'px');
        // maximize to size of iframe
        var height = Math.max(jQuery("#naloga_" + current_selected_question).contents().height(), jQuery(window).height() - 307);
        // console.log("update iframe size, naloga: " + current_selected_question, "height: " + height);
        jQuery("#naloga_" + current_selected_question).css('height', height+"px");
    }

    function hideFooter() {
        jQuery('footer').hide();
        jQuery('#footer_wrapper').hide();
    }

    function clickIE() {
        if (document.all) {
            return false;
        }
    }
    function clickNS(e) {
        if (document.layers || (document.getElementById && !document.all)) {
            if (e.which == 2 || e.which == 3) {
                return false;
            }
        }
    }
    function disableMouseLeftClick() {
        if (document.layers) {
            document.captureEvents(Event.MOUSEDOWN);
            document.onmousedown = clickNS;
        } else {
            document.onmouseup = clickNS;
            document.oncontextmenu = clickIE;
        }
        document.oncontextmenu = function() {
            return false;
        };
    }

    jQuery(document).ready(function() {
        hideFooter();
        loadQuestions(questionset_url);
        jQuery(window).resize(function() {
            updateIframeSize();
        });
        disableMouseLeftClick();
    });
    //]]>
</script>
<div id="footer_wrapper">
    <div class="logos">
        <div style="float: left; padding-left: 70px;">
            <a href="http://www.acm.si/" target="_blank">
            </a>
        </div>
        <div style="float: left; padding-top: 40px; padding-left: 20px; padding-right: 0px;">
            v sodelovanju z        </div>
        <div style="float: left;">
            <a href="http://www.fri.uni-lj.si/" target="_blank">
            </a>
        </div>
    </div>
    </div>
</body>	
</html>

