{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load admin_static %}
{% static 'admin' %}
{% block title %}{% trans "Competition" %}{% endblock %}

{% block headline %}{% trans "Competition" %}{% endblock %}
{% block extrahead %}
{% endblock %}
{% block content %}
<a href={% url "competition_list" %}>{% trans "Back to competitions" %}</a>
&nbsp;&nbsp;
<h1>{{object.slug}}</h1>
<a href='{% url "competition_code_list" slug=object.slug %}' class="btn">{% trans "codes" %}</a>
<a href='{% url "competition_attempt_list" slug=object.slug %}' class="btn">{% trans "attempts" %}</a>
<a href='{% url "competition_update" slug=object.slug %}' class="btn">{% trans "edit" %}</a>
<div id='questionsets'>
{% trans "Question sets" %}
<ul>
{% for qs in object.questionsets.all %}
  <li>{{qs.name}}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
