{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Codes" %}{% endblock %}

{% block headline %}{% trans "Codes" %}{% endblock %}

{% block content %}
<a href={% url "competition_list" %}>{% trans "Back to competitions" %}</a>
&nbsp;&nbsp;
<a href={% url "competition_detail" slug=slug %}>{% trans "Competition details" %}</a>
<h1>{% trans "Current code"%}</h1>
<div class="longTextBreak">
{{access_code}}
</div>
<h1>{% trans "Admin codes" %}</h1>
{% if can_create_administrator_codes %}
<a href="{% url "competition_code_create" slug=slug user_type='admin' %}" class="btn">{% trans "Generate code" %}</a>
{% endif %}
<ul>
{% for i in admin_codes %}
<li><a href={% url "access_code" url_next=request.get_full_path %}?access_code={{i|urlencode}}>{{i}}</a><ul>{% for k in i.user_set.all %}<li>{{k}}</li>{% endfor %}</ul></li>
{% endfor %}
</ul>
<h1>{% trans "Competitor codes" %}</h1>
{% if can_create_competitor_codes %}
<a href="{% url "competition_code_create" slug=slug user_type='competitor' %}" class="btn">{% trans "Generate code" %}</a>
{% endif %}
<ul>
{% for cqs, codes in competitor_codes.items %}
<li>
{{cqs.name}}
  <ul>{%for i in codes %}
    <li><a href={% url "competitionquestionset_access_code" competition_questionset_id=cqs.id next=request.get_full_path %}?access_code={{i|urlencode}}>{{i}}</a></li>
  {% endfor %}</ul>
</li>
{% endfor %}
</ul>
{% endblock %}
