{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Competition" %}{% endblock %}

{% block headline %}{% trans "Competitions in progress" %}{% endblock %}

{% block content %}
{% for i in object_list %}
{{i}}
<a href="{% url "competition_code_list" competition_slug=i.slug %}">{% trans "codes" %}</a>
<a href="{% url "competition_attempt_list" competition_slug=i.slug %}">{% trans "attempts" %}</a>
  <ul>
  {% for j in i.competitionquestionset_set.all %}
    <li><a href="{% url 'competition_registration' competition_questionset_id=j.id %}">{{j.questionset}}</a></li>
  {% endfor %}
  </ul>
{% endfor %}
<a href="{% url "competition_create" %}">{% trans "Create competition" %}</a>
{% endblock %}
