{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Competition attempts" %}{% endblock %}

{% block headline %}{% trans "Competition attempts" %}{% endblock %}

{% block content %}
<a href={% url "competition_list" %}>{% trans "Back to competitions" %}</a>
&nbsp;&nbsp;
<a href={% url "competition_detail" slug=slug %}>{% trans "Competition details" %}</a>
<div class="attempts_list">
    {% for i in object_list %}
        <div class="attempt">
            <span class="attempt_info"><a href={% url "attempt_detail" competition_questionset_id=i.competitionquestionset_id attempt_id=i.id %}>{{i}}</a></span>
            {% for j in i.latest_answers %}
                <div class="attempt_answers_info">
                    <div class="attempt_question">{% trans "Question" %}: {{j.question}}</div>
                    {% if j.score == None %}<span class="correct_answer">{% trans "Not graded yet" %} ?</span>
                    {% elif j.score < j.question.none_score %}<span class="wrong_answer">{% trans "Wrong Answer" %} ({{j.score}})</span>
                    {% else %}<span class="correct_answer">{% trans "Correct" %} ({{j.score}})</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
