{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% static 'admin' %}
{% block title %}{% trans "Edit competition" %}{% endblock %}

{% block headline %}{% trans "Edit competition" %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/inlines.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
{% endblock %}
{% block content %}
<script>
$( document ).ready(function() {
  {% if request.profile.feature_level == 0 %}
    var userType = "reduced"
  {% elif request.profile.feature_level == 1 %}
    var userType = "basic"
  {% elif request.profile.feature_level == 10 %}
    var userType = "common"
  {% else %}
    var userType = "all"
  {% endif %}

  if (userType == "basic") {
    $( "#normal_form_fields" ).remove();
    $('#content').append('<p> {% trans "Sorry, you dont have a permission." %}<a href="/"> {% trans "Go back." %} <a></p>');
  }
  else if (userType == 'reduced') {
  }
  else if (userType == 'common') {
    //do something
  }
  else {
      // really funny to put return here.
      // It efficiently removes add more click handler, dummies!
  }

  $('#add_more').click(function() {
        cloneMore('div[name=questionset_form]:last', 'competitionquestionset_set');
    });

    function cloneMore(selector, type) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + type + '-TOTAL_FORMS').val();
      newElement.find(':input').each(function() {
          var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
          var id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      newElement.find('label').each(function() {
          var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
          $(this).attr('for', newFor);
      });
      total++;
      $('#id_' + type + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
  }

});

</script>


<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% crispy form %}
    <p class="questionsets_head">
        {% trans "Question sets" %}
    </p>
    {% for inline in inlines %}
        {{inline.management_form | crispy}}
        {% for form in inline %}
            <div name="questionset_form">
                {% crispy form %}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="col-sm-6">
            <button id="add_more" class="btn btn-info" type="button">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add Another Competition Questionset" %}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-success" type="submit">
                {% trans "Submit" %}
            </button>
        </div>
    </div>
</form>

{% endblock %}
