{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block title %}{% trans "Competition" %}{% endblock %}

{% block headline %}{% trans "Competitions in progress" %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}
{% block content %}
<br>
<div class="competitions_list">
{% for i in object_list %}
	<div class="competitionlist">
			<a href={% url "competition_detail" slug=i.slug %}><big><strong>{{i.slug}}</strong></big></a>
			&nbsp;
			<a href='{% url "competition_code_list" competition_slug=i.slug %}' class="btn">{% trans "codes" %}</a>
			<a href='{% url "competition_attempt_list" competition_slug=i.slug %}' class="btn">{% trans "attempts" %}</a>
			<div style="max-width: 95%; width: 90%;">
			{% render_table i.competitionquestionset_set.all %}
			</div>
	</div>
	{% endfor %}
</div>

<br>
<div class="toLeft">
<br>
<a href="{% url "competition_create" %}" class="btn">{% trans "Create competition" %}</a>
</div>
{% endblock %}
