<!-- Only unauthenticated users should access this view -->
<!-- View is shown only when no competition is currently running -->
{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Welcome to the Bober competition" %}{% endblock %}

{% block content %}
	<!-- Jumbotron on the left -->		
	
	<!-- Login links on the right -->
	<!-- Link for competitors -->
	<a href="{% url "competition_list" %}" class="btn">
		{% trans "Competitor" %}
	</a>
	<a href="{% url "login" %}" class="btn">{% trans "Login" %}</a>
	<a href="{% url "competition_list" %}" class="btn">{% trans "Guest" %}</a>
{% endblock %}
