{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Welcome to the Bober competition" %}{% endblock %}

{% block headline %}{% trans "Bober" %}{% endblock %}

{% block content %}
<a href="{% url "competition_list" %}" class="btn">{% trans "Competitions" %}</a>
{% if not request.user.is_authenticated %}
<a href="{% url "django.contrib.auth.views.login" %}" class="btn">{% trans "Login" %}</a>
{% else %}
<a href="{% url "profile_list" %}" class="btn">{% trans "Managed users" %}</a>
<a href="{% url "profile_detail" pk=request.user.profile.pk %}" class="btn">{% trans "My profile" %}</a>
<a href="{% url "questionset_list" %}" class="btn">{% trans "Question sets" %}</a>
<a href="{% url "question_list" %}" class="btn">{% trans "Questions" %}</a>
<a href="{% url "code_format_index" %}" class="btn">{% trans "Code formats" %}</a>
{% endif %}
{% endblock %}
