<!-- Only unauthenticated users should access this view -->
<!-- View is shown only when no competition is currently running -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Welcome to the Bober competition" %}{% endblock %}

{% block content %}
	<!-- Jumbotron on the left -->		
	<div class="row">
		<div class="col-md-7 col-xl-6">
			<div class="jumbotron jumbotron-fluid">
  					<div class='row'>
  						<div class='col-6'>
  							<p class="text-center">
		    					<img src='{% static "img/herr-bober.svg" %}'>  						
  							</p>
  						</div>
  						<div class='col-6'>
  							<h1>{% trans "Beaver" %}</h1>
  							<p></p>
		    				<div class="lead">{% trans "Welcome to the competition" %}</div>
		    				<h2> {{ competition.title }}</h2>
  						</div>
  					</div>
  					<div class='row'>
  						<div class="col-6"></div>
  						<div class="col-6">
  							<a href="/simple/competition/" class="btn btn-secondary">{% trans "Login as a teacher" %}</a>
  						</div>
					</div>
  		    </div>
		</div>
		<div class="col-md-5 col-xl-6">
			<div class='row'>
				<form action="" method="post" id="competition_registration" class="form_compete_table">
					{% csrf_token %}
					{{form | crispy}}					
					<input type="submit" value='{% trans "Compete" %}' class="btn btn-secondary"/>
				</form>
			</div>
			<div class='row'>
				<a href='{% url 'competition_list' %}'>{% trans "Login as a teacher" %}</a>
			</div>
		</div>
	</div>
	
	
{% endblock %}
