{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{object}}[{{object.pk}}]{% endblock %}

{% block headline %}{{object}}[{{object.pk}}]{% endblock %}
{% block extrahead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block content %}
<div>
<a href="{% url "index" %}" class="btn">{% trans "Back to Menu" %}</a>
</div>
<div>
<table class="paleblue">
<thead>
<th colspan="2">{% trans "Profile Details"%}</th>
</thead>
<tr>
<td><b>{% trans "First Name" %}:</b> </td>
<td>{{object.user.first_name}}</td>
</tr>
<tr>
<td><b>{% trans "Last Name" %}:</b> </td>
<td>{{object.user.last_name}}</td>
</tr>
<tr>
<td><b>{% trans "Email" %}:</b> </td>
<td>{{object.user.email}}</td>
</tr>
</table>	
</div>
<a href="{% url "profile_update" object.pk %}">{% trans "update profile" %}</a>
<br>
<div>
	<table class="paleblue">
	<thead>
	<th>{% trans "Former profiles"%}</th>
	</thead>
	<tbody>
	{% for p in object.former_profile_set.all %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td>{{p}}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
<br>
<div>
	<table class="paleblue">
	<thead>
	<th>{% trans "Attempts" %}</th>
	</thead>
	<tbody>
	{% for a in object.attempt_list.all %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<td>{{a}}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
<br><br>
{% trans "Codes" %}
<br>
<a id="toggle_extended_form_fields1">{% trans "Show codes" %}</a>
<div id="extended_form_fields1" class="longTextBreak">
	<div><br>
		{% trans "Used codes" %}<hr>
		<ul>
		{% for c in object.used_codes.all %}
		<li>{{c}}</li>
		{% endfor %}
		</ul>
	</div>
	
	<div><br>
		{% trans "Received codes" %}<hr>
		<ul>
		{% for c in object.received_codes.all %}
		<li>{{c}}</li>
		{% endfor %}
		</ul>
	</div>
	
	<div><br>
		{% trans "Created codes" %}<hr>
		<ul>
		{% for c in object.created_codes.all %}
		<li>{{c}}</li>
		{% endfor %}
		</ul>
	</div>
</div>
</form>
<script type="text/javascript">
$('#extended_form_fields1').css('visibility','hidden');
$('#toggle_extended_form_fields1').click(function(){
  if ( $('#extended_form_fields1').css('visibility') == 'hidden' ){
    $('#extended_form_fields1').css('visibility','visible');
    $('#toggle_extended_form_fields1').text('{% trans "Hide codes" %}');
  } else {
    $('#extended_form_fields1').css('visibility','hidden');
    $('#toggle_extended_form_fields1').text('{% trans "Show codes" %}');
  }
});

</script>
{% endblock %}
