{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{object}}[{{object.pk}}]{% endblock %}

{% block headline %}{{object}}[{{object.pk}}]{% endblock %}
{% block extrahead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block content %}
<div>
<a href="{% url "index" %}" class="btn">{% trans "Back to Menu" %}</a>
</div>

<div class="row">
	<div class="col-sm">
		<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="2">{% trans "Profile Details"%}</th>
				</tr>
			</thead>
			<tr>
				<th scope="row">{% trans "First Name" %}</th>
				<td>{{object.user.first_name}}</td>
			</tr>
			<tr>
				<th scope="row">{% trans "Last Name" %}</th>
				<td>{{object.user.last_name}}</td>
			</tr>
			<tr>
				<th scope="row">{% trans "Email" %}</th>
				<td>{{object.user.email}}</td>
			</tr>
			{% if object.merged_with %}
				<tr>
					<th scope="row">{% trans "Merged with" %}</th>
					<td>{{object.merged_with}}</td>
				</tr>
			{% endif %}
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-secondary" href="{% url "profile_update" object.pk %}">{% trans "Update profile" %}</a>
		<a class="btn btn-secondary" href="{% url "profile_merge" object.pk %}">{% trans "Merge this profile into another" %}</a>
	</div>
</div>

{% if object.former_profile_set.all %}
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			  <div class="card-header">
			    <h5>{% trans "Former profiles"%}</h5>			    
			  </div>
			  <ul class="list-group list-group-flush">
				{% for p in object.former_profile_set.all %}
					<li class="list-group-item">{{p}}</li>
				{% endfor %}
			  </ul>
			</div>
	</div>
</div>
{% endif %}


{% if object.attempt_list.all %}
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			  <div class="card-header">
			    <h5>{% trans "Attempts" %}</h5>			    
			  </div>
			  <ul class="list-group list-group-flush">
				{% for a in object.attempt_list.all %}
					<li class="list-group-item">{{a}}</li>
				{% endfor %}
			  </ul>
			</div>
	</div>
</div>
{% endif %}


{% if object.used_codes.all or object.received_codes.all or object.created_codes.all %}

<div id="accordion">
  {% if object.used_codes.all %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseUsedCodes" aria-expanded="true" aria-controls="collapseOne">
          {% trans "Used codes" %}
        </button>
      </h5>
    </div>
    <div id="collapseUsedCodes" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
  	    <ul class="list-group list-group-flush">
	  	  {% for c in object.used_codes.all %}
			  <li class="list-group-item">{{c}}</li>
		  {% endfor %}
	    </ul>
    </div>
  </div>
  {% endif %}
  {% if object.received_codes.all %}
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseReceivedCodes" aria-expanded="false" aria-controls="collapseTwo">
          {% trans "Received codes" %}
        </button>
      </h5>
    </div>
    <div id="collapseReceivedCodes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
  	    <ul class="list-group list-group-flush">
	  	  {% for c in object.received_codes.all %}
			  <li class="list-group-item">{{c}}</li>
		  {% endfor %}
	    </ul>
    </div>
  </div>
  {% endif %}  
  {% if object.created_codes.all %}
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCreatedCodes" aria-expanded="false" aria-controls="collapseThree">
          {% trans "Created codes" %}
        </button>
      </h5>
    </div>
    <div id="collapseCreatedCodes" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
  	    <ul class="list-group list-group-flush">
	  	  {% for c in object.created_codes.all %}
			  <li class="list-group-item">{{c}}</li>
		  {% endfor %}
	    </ul>
    </div>
  </div>
  {% endif %}  
</div>

{% endif %}
{% endblock %}
