{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Edit user" %}{% endblock %}

{% block headline %}{% trans "Edit user" %}{% endblock %}
{% block extrahead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
{{form.media}}
{% endblock %}
{% block content %}
<h1>
<div class=row>
		<div class="col-sm">
			{% trans "Profile for" %} {{ object }} [{{ object.pk }}] 
		</div>
</div>
</h1>

{% if not object.email or not object.first_name or not object.last_name %}
<div class=row>
	<div class="col-sm">		
		<div class="alert alert-danger" role="alert">
			{% trans "Please fill in required data" %} 
		</div>
	</div>
</div>
{% endif %}

<form action="" method="post" id="profile_form" class="form_compete_table" autocomplete="off">
{% csrf_token %}
{{ form | crispy }}
<input type="submit" value='{% trans "Submit" %}' class="btn"/>
</form>
{% endblock %}
