{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block title %}{% trans "Users" %}{% endblock %}
{% block headline %}{% trans "Users" %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div style="margin:1%";>
<a href="{% url "index" %}" class="btn">{% trans "Back to Menu" %}</a>
</div>
<form action="" method="get">
{{filter.form.as_p}}
<input type="submit" value={% trans "Submit" %}>
</form><br><br>
<form action="" method="POST">
  {% csrf_token %}
  {% render_table table %}
  <br><br>
  <input type="button" class="btn btn-info" name="mergeUsers" value={% trans "Merge" %}>
  <button type="submit" class="btn btn-info" formaction="send-email">{% trans "Send Mail" %}</button>
</form>

{% endblock %}
