{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block headline %}{% trans "Registration" %}{% endblock %}

{% block content %}
<br>
<a href="{% url 'django.contrib.auth.views.login' %}" class="btn">{% trans "Login" %}</a>
<br>
<form action="" method="post" id="competition_registration" class="form_compete_table">
{% csrf_token %}
<table>
{{form}}
</table>
<input type="submit" value='{% trans "Create new account" %}' class="btn"/>
</form>
{% load staticfiles %}
{% endblock %}
