{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load admin_static %}
{% static 'admin' %}
{% block title %}{% trans "Question set" %}{% endblock %}

{% block headline %}{% trans "Question set" %}{% endblock %}
{% block content %}

<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/static/js/multiselect.min.js"></script>


<div class="container">
  <div class="row" style="margin-left:2%;">
    <br>
    <p>
      Add Questionset
    </p>
    <br>
    <form action="" method="post">
    {%csrf_token%}
    <table class="questionset_create_table">
      {{form}}
    </table>
    <input class="btn btn-success ques_sub" type="submit" value='{% trans "Submit" %}' />
    </form>
  </div>
</div>
{% endblock %}
