{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block headline %}{% trans "Registration" %}{% endblock %}

{% block content %}
<br>
<form action="" method="post" class="form_register_table">
{% csrf_token %}
<table>
{{registration_form}}
</table>
<br>
<div class="form_register_row">
	<div class="form_register_column">
		&nbsp;
	</div>
	<div class="form_register_column">
		<input type="submit" value='{% trans "Submit" %}' class="btn"/>
	</div>	
</div>
</form>

{% endblock %}
