{% extends "main.html" %}
{% block pageTitle %}Prevajanje - New task{% endblock pageTitle %}
{% block content %}
    <style type="text/css" media="screen">
        .answer_lang {
            width: 100px;
            margin-left: 10px;
        }
    </style>


    <style type="text/css" media="screen">
        .content_category {
            margin-right: 1px;
        }
    </style>





    <div class="row-fluid">
    <div class="span6 disabled">

    <fieldset id="language">
        <legend>Language</legend>
        <select class="answerLanguage span10" name="language">
            {% for lang in all_languages %}
                <option value="{{ lang.value_short }}"
                        {% if lang.value_short  == task_translation.language_locale %}selected{% endif %}>{{ lang.value }}</option>
            {% endfor %}
        </select>
    </fieldset>

    <fieldset id="title">
        <legend>Title</legend>
        <label>Title ...</label>
        <input class="span12 title" name="title" type="text" value="{{ task_translation.title }}">
    </fieldset>
    <style type="text/css" media="screen">
        #editor {
            overflow: scroll;
            max-height: 300px
        }
    </style>
    <fieldset id="body">
        <legend>Body</legend>
        <label>Body ...</label>
        <textarea class="span12 text" name="body" rows="10">{{ task_translation.body }}</textarea>
    </fieldset>

    <fieldset id="answers">
        <legend>Answers</legend>
        <label>Answers ...</label>

        <div class="input-append span12">
            <label class="control-label" style="display:inline;"><b>A</b> </label>
            <input type="text" class="answer span10" name="answer[0]" rel="0"
                   value="{{ answer_multiple_choice.0.value }}">

            <div class="btn-group">
                <a href="#" class="btn btn-danger eraseAnswer">
                    <i class="icon-trash icon-white"></i>
                </a>
            </div>
        </div>
        <br/>

        <div class="input-append span12">
            <label class="control-label" style="display:inline;"><b>B</b> </label>
            <input type="text" class="answer span10" name="answer[1]" rel="1"
                   value="{{ answer_multiple_choice.1.value }}">

            <div class="btn-group">
                <a href="#" class="btn btn-danger eraseAnswer">
                    <i class="icon-trash icon-white"></i>
                </a>
            </div>
        </div>
        <br/>

        <div class="input-append span12">
            <label class="control-label" style="display:inline;"><b>C</b> </label>
            <input type="text" class="answer span10" name="answer[2]" rel="2"
                   value="{{ answer_multiple_choice.2.value }}">

            <div class="btn-group">
                <a href="#" class="btn btn-danger eraseAnswer">
                    <i class="icon-trash icon-white"></i>
                </a>
            </div>
        </div>
        <br/>

        <div class="input-append span12">
            <label class="control-label" style="display:inline;"><b>D</b> </label>
            <input type="text" class="answer span10" name="answer[3]" rel="3"
                   value="{{ answer_multiple_choice.3.value }}">

            <div class="btn-group">
                <a href="#" class="btn btn-danger eraseAnswer">
                    <i class="icon-trash icon-white"></i>
                </a>
            </div>
        </div>
        <br/>
    </fieldset>

    <fieldset id="correctness">
        <legend>Correctness</legend>
        <label>Correctness ...</label>
        <select name="correctness" value="" id="correctness">
            <option value="0">A</option>
            <option value="1">B</option>
            <option value="2">C</option>
            <option value="3">D</option>
        </select>
    </fieldset>

    <fieldset id="solution">
        <legend>Solution</legend>
        <label>Solution ...</label>
        <textarea class="span12 text" name="solution" rows="10">{{ task_translation.solution }}</textarea>
    </fieldset>

    <fieldset id="informatics">
        <legend>Informatics</legend>
        <label>Informatics ...</label>
        <textarea class="span12 text" name="informatics"
                  rows="10">{{ task_translation.it_is_informatics }}</textarea>
    </fieldset>

    <fieldset id="content_category">
        <legend>Content category</legend>
        <label>Content category ...</label>

        <div id="categoriesContainter">
            {% for category in task_categories %}
                <div class="category">
                    <select class="contentCategory span10 pull-left" name="category[{{ forloop.counter0 }}]"
                            rel="{{ forloop.counter0 }}">
                        {% for content_category in content_categories %}
                            <option value="{{ content_category.id }}" {% if content_category.id == category.id %}
                                    selected {% endif %}>
                                {{ content_category.title }}
                            </option>
                        {% endfor %}
                    </select>

                    <a href="#" class="btn btn-danger remove_category pull-right">
                        <i class="icon-trash icon-white"></i>
                    </a>
                </div>
            {% endfor %}


        </div>
        <div id="categoriesTemplate" style="display:none;">
            <select class="contentCategory span10 pull-left" name="categories">
                {% for content_category in content_categories %}
                    <option value="{{ content_category.id }}">{{ content_category.title }}</option>
                {% endfor %}
            </select>

            <a href="#" class="btn btn-danger remove_category pull-right">
                <i class="icon-trash icon-white"></i>
            </a>
        </div>
        <a href="#" id="add_category" class="btn btn-primary">Dodaj Category</a>
        <br/>
        <br/>
    </fieldset>

    <fieldset id="age_groups">
        <legend>Age groups</legend>
        <label>Age groups ...</label>

        <div id="ageGroupContainter">

            {% for task_age_group in task_age_groups %}
                <div style="display:block;" class="ageGroup">

                    <select class="ageGroups span5 pull-left" name="age_group[{{ forloop.counter0 }}]"
                            rel="{{ forloop.counter0 }}">
                        {% for age_group in age_groups %}
                            <option value="{{ age_group.id }}"
                                    {% if task_age_group.age_group.id == age_group.id %}selected{% endif %}>{{ age_group.value }}</option>
                        {% endfor %}
                    </select>

                    <select class="ageGroups span5 pull-left" name="age_group[{{ forloop.counter0 }}]"
                            rel="{{ forloop.counter0 }}">
                        {% for difficulty_level in difficulty_levels %}
                            <option value="{{ difficulty_level.id }}"
                                    {% if task_age_group.difficulty_level.id == difficulty_level.id %}selected{% endif %}>{{ difficulty_level.value }}</option>
                        {% endfor %}
                    </select>

                    <a href="#" class="btn btn-danger remove_age_group pull-right">
                        <i class="icon-trash icon-white"></i>
                    </a>
                </div>
            {% endfor %}


        </div>

        <div id="ageGroupTemplate" style="display:none;">
            <select class="ageGroups span5 pull-left" name="ageGroup">
                {% for age_group in age_groups %}
                    <option value="{{ age_group.id }}">{{ age_group.value }}</option>
                {% endfor %}
            </select>

            <select class="ageGroups span5 pull-left" name="ageGroup">
                {% for difficulty_level in difficulty_levels %}
                    <option value="{{ difficulty_level.id }}">{{ difficulty_level.value }}</option>
                {% endfor %}
            </select>

            <a href="#" class="btn btn-danger remove_age_group pull-right">
                <i class="icon-trash icon-white"></i>
            </a>

        </div>
        <a href="#" id="add_age_group" class="btn btn-primary">Dodaj Age Group</a>
        <br/>
        <br/>
    </fieldset>


    </div>


    <div class="span6">
    <form id="translateTask" action="" method="POST">

    <fieldset id="language">
        <legend>Language</legend>
        <select class="answerLanguage span10" name="language" {% if language_disabled %}disabled{% endif %}>
            {% for lang in all_languages %}
                <option value="{{ lang.value_short }}"
                        {% if lang.value_short  == task_translation.language_locale %}selected{% endif %}>{{ lang.value }}</option>
            {% endfor %}
        </select>
    </fieldset>

    <fieldset id="title">
        <legend>Title</legend>
        <label>Title ...</label>
        <input class="span12 title" name="title" type="text" value="{{ task_translation.title }}">
    </fieldset>
    <style type="text/css" media="screen">
        #editor {
            overflow: scroll;
            max-height: 300px
        }
    </style>
    <fieldset id="body">
        <legend>Body</legend>
        <label>Body ...</label>
        <textarea class="span12 text" name="body" rows="10">{{ task_translation.body }}</textarea>
    </fieldset>

    <fieldset id="answers">
        <legend>Answers</legend>
        <label>Answers ...</label>

        <div class="input-append span12">
            <label class="control-label" style="display:inline;"><b>A</b> </label>
            <input type="text" class="answer span10" name="answer[0]" rel="0"
                   value="{{ answer_multiple_choice.0.value }}">

            <div class="btn-group">
                <a href="#" class="btn btn-danger eraseAnswer">
                    <i class="icon-trash icon-white"></i>
                </a>
            </div>
        </div>
        <br/>

        <div class="input-append span12">
            <label class="control-label" style="display:inline;"><b>B</b> </label>
            <input type="text" class="answer span10" name="answer[1]" rel="1"
                   value="{{ answer_multiple_choice.1.value }}">

            <div class="btn-group">
                <a href="#" class="btn btn-danger eraseAnswer">
                    <i class="icon-trash icon-white"></i>
                </a>
            </div>
        </div>
        <br/>

        <div class="input-append span12">
            <label class="control-label" style="display:inline;"><b>C</b> </label>
            <input type="text" class="answer span10" name="answer[2]" rel="2"
                   value="{{ answer_multiple_choice.2.value }}">

            <div class="btn-group">
                <a href="#" class="btn btn-danger eraseAnswer">
                    <i class="icon-trash icon-white"></i>
                </a>
            </div>
        </div>
        <br/>

        <div class="input-append span12">
            <label class="control-label" style="display:inline;"><b>D</b> </label>
            <input type="text" class="answer span10" name="answer[3]" rel="3"
                   value="{{ answer_multiple_choice.3.value }}">

            <div class="btn-group">
                <a href="#" class="btn btn-danger eraseAnswer">
                    <i class="icon-trash icon-white"></i>
                </a>
            </div>
        </div>
        <br/>
    </fieldset>

    <fieldset id="correctness">
        <legend>Correctness</legend>
        <label>Correctness ...</label>
        <select name="correctness" value="" id="correctness">
            <option value="0">A</option>
            <option value="1">B</option>
            <option value="2">C</option>
            <option value="3">D</option>
        </select>
    </fieldset>

    <fieldset id="solution">
        <legend>Solution</legend>
        <label>Solution ...</label>
        <textarea class="span12 text" name="solution" rows="10">{{ task_translation.solution }}</textarea>
    </fieldset>

    <fieldset id="informatics">
        <legend>Informatics</legend>
        <label>Informatics ...</label>
        <textarea class="span12 text" name="informatics"
                  rows="10">{{ task_translation.it_is_informatics }}</textarea>
    </fieldset>

    <fieldset id="content_category">
        <legend>Content category</legend>
        <label>Content category ...</label>

        <div id="categoriesContainter">
            {% for category in task_categories %}
                <div class="category">
                    <select class="contentCategory span10 pull-left" name="category[{{ forloop.counter0 }}]"
                            rel="{{ forloop.counter0 }}">
                        {% for content_category in content_categories %}
                            <option value="{{ content_category.id }}"
                                    {% if content_category.id == category.id %} selected {% endif %}>
                                {{ content_category.title }}
                            </option>
                        {% endfor %}
                    </select>

                    <a href="#" class="btn btn-danger remove_category pull-right">
                        <i class="icon-trash icon-white"></i>
                    </a>
                </div>
            {% endfor %}


        </div>
        <div id="categoriesTemplate" style="display:none;">
            <select class="contentCategory span10 pull-left" name="categories">
                {% for content_category in content_categories %}
                    <option value="{{ content_category.id }}">{{ content_category.title }}</option>
                {% endfor %}
            </select>

            <a href="#" class="btn btn-danger remove_category pull-right">
                <i class="icon-trash icon-white"></i>
            </a>
        </div>
        <a href="#" id="add_category" class="btn btn-primary">Dodaj Category</a>
        <br/>
        <br/>
    </fieldset>

    <fieldset id="age_groups">
        <legend>Age groups</legend>
        <label>Age groups ...</label>

        <div id="ageGroupContainter">

            {% for task_age_group in task_age_groups %}
                <div style="display:block;" class="ageGroup">

                    <select class="ageGroups span5 pull-left" name="age_group[{{ forloop.counter0 }}]"
                            rel="{{ forloop.counter0 }}">
                        {% for age_group in age_groups %}
                            <option value="{{ age_group.id }}"
                                    {% if task_age_group.age_group.id == age_group.id %}selected{% endif %}>{{ age_group.value }}</option>
                        {% endfor %}
                    </select>

                    <select class="ageGroups span5 pull-left" name="age_group[{{ forloop.counter0 }}]"
                            rel="{{ forloop.counter0 }}">
                        {% for difficulty_level in difficulty_levels %}
                            <option value="{{ difficulty_level.id }}"
                                    {% if task_age_group.difficulty_level.id == difficulty_level.id %}selected{% endif %}>{{ difficulty_level.value }}</option>
                        {% endfor %}
                    </select>

                    <a href="#" class="btn btn-danger remove_age_group pull-right">
                        <i class="icon-trash icon-white"></i>
                    </a>
                </div>
            {% endfor %}


        </div>

        <div id="ageGroupTemplate" style="display:none;">
            <select class="ageGroups span5 pull-left" name="ageGroup">
                {% for age_group in age_groups %}
                    <option value="{{ age_group.id }}">{{ age_group.value }}</option>
                {% endfor %}
            </select>

            <select class="ageGroups span5 pull-left" name="ageGroup">
                {% for difficulty_level in difficulty_levels %}
                    <option value="{{ difficulty_level.id }}">{{ difficulty_level.value }}</option>
                {% endfor %}
            </select>

            <a href="#" class="btn btn-danger remove_age_group pull-right">
                <i class="icon-trash icon-white"></i>
            </a>

        </div>
        <a href="#" id="add_age_group" class="btn btn-primary">Dodaj Age Group</a>
        <br/>
        <br/>
    </fieldset>

    <fieldset id="summary">
        <legend>Summary</legend>
        <label>Summary ...</label>
        <input type="text" class="span12" name="diff">
    </fieldset>

    </form>
    </div>

    </div>
    <div class="form-actions">
        <button id="translate" type="submit" class="btn btn-primary">Shrani</button>
        <a href="/" class="btn btn-danger">Cancel</a>
    </div>

    </div>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>


    <script type="text/javascript" src="/resources/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/resources/js/ajaxupload.js" charset="utf-8"></script>
    <script type="text/javascript" src="/resources/js/editor.js"></script>



    <script type="text/javascript" charset="utf-8">


        function add_age_group() {
            var index = $("#ageGroupContainter > div").length;
            if (!!index) index = $("#ageGroupContainter > div:last-child").find("select").attr("rel") * 1 + 1;
            var template = $("#ageGroupTemplate").clone(false);
            $(template).show();
            $(template).find("select").attr("name", "age_group[" + index + "]");
            $(template).find("select").attr("rel", index);
            $(template).attr("id", "");
            $(template).attr("class", "ageGroup");
            $(template).find("input").val("");
            $("#ageGroupContainter").append(template);
            $(template).find(".remove_age_group").bind("click", function (e) {
                e.preventDefault();
                $(this).parents(".ageGroup").remove();
            });
        }
        ;

        function add_category() {
            var index = $("#categoriesContainter > div").length;
            if (!!index) index = $("#categoriesContainter > div:last-child").find("select").attr("rel") * 1 + 1;
            var template = $("#categoriesTemplate").clone(false);
            $(template).show();
            $(template).find("select").attr("name", "category[" + index + "]");
            $(template).find("select").attr("rel", index);
            $(template).find("input").val("");
            $(template).attr("id", "");
            $(template).attr("class", "category");
            $("#categoriesContainter").append(template);
            $(".remove_category").unbind();
            $(".remove_category").bind("click", function (e) {
                e.preventDefault();
                $(this).parents(".category").remove();
            });
        }
        ;


        $("a.eraseAnswer").bind("click", function (e) {
            e.preventDefault();
            var index = $(this).parents(".input-append").find("input").attr("rel"),
                    item = $(".task_preview ul li")[index];
            $(this).parents(".input-append").find("input").val("");
            $(item).text("");
        });

        $("#title input.title").keyup(function () {
            $(".task_preview h4").text($(this).val());
        });
        $("#body textarea").keyup(function () {
            $(".task_preview p").text($(this).val());
        });
        $("#answers .answer").keyup(function () {
            var index = $(this).attr("rel") * 1;
            var item = $(".task_preview ul li")[index];
            $(item).text($(this).val());
        });


        $("#add_age_group").bind("click", function (e) {
            e.preventDefault();
            add_age_group();
        });

        $("#add_category").bind("click", function (e) {
            e.preventDefault();
            add_category();
        });
        $('.disabled input,.disabled select,.disabled textarea').attr("disabled", "");

        $('.disabled a.eraseAnswer, .disabled #add_age_group, .disabled #add_category, .disabled .remove_category, .disabled .remove_age_group').hide();

        $("button#translate").bind('click', function () {
            $('form#translateTask').submit();
        })
    </script>
{% endblock content %}
