{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% static 'admin' %}
{% block title %}{% trans "Competition" %}{% endblock %}

{% block headline %}{% trans "Competition" %}{% endblock %}
{% block extrahead %}
{% endblock %}
{% block content %}
<a href={% url "competition_list" %}>{% trans "Back to competitions" %}</a>
&nbsp;&nbsp;
<h1>{{object.slug}}</h1>
<a href='{% url "competition_code_list" slug=object.slug %}' class="btn">{% trans "codes" %}</a>
<a href='{% url "teacher_overview" slug=object.slug %}' class="btn">{% trans "overview" %}</a>
<a href='{% url "competition_update" slug=object.slug %}' class="btn">{% trans "edit" %}</a>
<div id='questionsets'>
{% trans "Question sets" %}
<ul>
{% for cqs in object.competitionquestionset_set.all|dictsort:"name" %}
  <li>{{cqs.name}} ({{cqs.attempt_set.all.count}}) <a class="btn" href="{% url 'questionset_compete' competition_questionset_id=cqs.id %}">{% trans "Compete" %}</a>
<a href="{% url "competitionquestionset_results.xls" slug=cqs.competition.slug cqs_id=cqs.id cqs_slug=cqs.questionset.slug %}">{% trans "Results" %}</a>
<a href="{% url "awards_all_pdf" slug=cqs.competition.slug username=request.user.username cqs_name=cqs.name %}">{% trans "Awards pdf" %}</a>
<a href="{% url "competition_questionset_regrade" slug=cqs.competition.slug competition_questionset_id=cqs.id %}">{% trans "Regrade" %}</a>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
