{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block title %}{% trans "Competition" %}{% endblock %}
{% block headline %}{% trans "Competitions in progress" %}{% endblock %}
{% block extrahead %}
{% endblock %}
{% block content %}

<style>
    .card-custom {
        max-width: 700px;
    }
</style>

<div id="accordion">
  {% if promoted %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#current" aria-expanded="true" aria-controls="current">
          {% trans "Ongoing competitions" %}
        </button>
      </h5>
    </div>
    <div id="current" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
		<div class="row justify-content-center">
			{% for i in promoted %}
		  	<div class="card card-custom mx-2 mb-3 bg-warning">
			    <div class="card-body">
			      <h5 class="card-title">{{i.title}}</h5>
			      <p class="card-text">
					  <a class="btn btn-secondary" href={% url "competition_compete" slug=i.slug %}>{% trans "Compete" %}</a>
				  	  <a class="btn btn-secondary" href="{% url "teacher_overview" slug=i.slug %}">{% trans "Login as a teacher" %}</a>			      	
			      </p>
			    </div>
			</div>
			{% endfor %}
		</div>
    </div>
  </div>
  {% endif %}

  {% if guests_allowed %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#guests_allowed" aria-expanded="true" aria-controls="guests_allowed">
          {% trans "Competitions for guests" %}
        </button>
      </h5>
    </div>
    <div id="guests_allowed" class="collapse {% if not promoted %}show{% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
		<div class="row justify-content-center">
			{% for i in guests_allowed %}
		  	<div class="card card-custom mx-2 mb-3 {% if i.promoted %}bg-warning{% endif %}">
			    <div class="card-body">
			      <h5 class="card-title">{{i.title}}</h5>
			      <p class="card-text">
					  <a class="btn btn-secondary" href={% url "competition_compete" slug=i.slug %}>{% trans "Compete" %}</a>
				  	  <a class="btn btn-secondary" href="{% url "teacher_overview" slug=i.slug %}">{% trans "Login as a teacher" %}</a>			      	
			      </p>
			    </div>
			</div>
			{% endfor %}
		</div>
    </div>
  </div>
  {% endif %}

  {% if old %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#old" aria-expanded="true" aria-controls="old">
          {% trans "Competition archive" %}
        </button>
      </h5>
    </div>
    <div id="old" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
		<div class="row justify-content-center">
			{% for i in old %}
		  	<div class="card card-custom mx-2 mb-3 {% if i.promoted %}bg-warning{% endif %}">
			    <div class="card-body">
			      <h5 class="card-title">{{i.title}}</h5>
			      <p class="card-text">
					  <a class="btn btn-secondary" href={% url "competition_compete" slug=i.slug %}>{% trans "Compete" %}</a>
				  	  <a class="btn btn-secondary" href="{% url "teacher_overview" slug=i.slug %}">{% trans "Login as a teacher" %}</a>			      	
			      </p>
			    </div>
			</div>
			{% endfor %}
		</div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
