<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Register</title>

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <form action="{% url "users.register" %} " method="post" class="form-signin">
            <a class="register-link pull-right" href="{% url "users.login" %} ">Login</a>

            <h2 class="form-signin-heading">Register</h2>

            {% if message_error %}
                <div class="alert alert-error">
                    {{ message_error }}
                </div>
            {% endif %}

            <!-- Username -->
            <div class="input-prepend">
                <span class="add-on">
                    <i class="icon icon-user"></i>
                </span>
                <input type="text" name="username" placeholder="Username" value="{{ username }}">
            </div>

            <!-- Email -->
            <div class="input-prepend">
                <span class="add-on">
                    <i class="icon icon-envelope"></i>
                </span>
                <input type="text" name="email" placeholder="Email" value="{{ email }}">
            </div>

            <!-- Password 1 -->
            <div class="input-prepend">
                <span class="add-on">
                    <i class="icon icon-lock"></i>
                </span>
                <input type="password" name="password1" placeholder="Password">
            </div>

            <!-- Password 2 -->
            <div class="input-prepend">
                <span class="add-on">
                    <i class="icon icon-lock"></i>
                </span>
                <input type="password" name="password2" placeholder="Repeat password">
            </div>

            <br><br>
            <button class="btn btn-large btn-primary" type="submit">Register</button>
        </form>
    </div>
</body>
</html>
