{% extends "main.html" %}
{% load to_char %}

{% load i18n %}
{% block pageTitle %}{% trans "Displaying user" %}{% endblock pageTitle %}
{% block content %}
    <div class="span4 well">
        <div class="row">
            <div class="span1"><a href="{{ STATIC_URL }}img/user.jpg" class="thumbnail"><img src="{{ STATIC_URL }}img/user.jpg" alt=""></a></div>
            <div class="span3">
                <p>{{ user.username }}</p>
                <p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
                <span class="badge badge-success">{{ task_num }} Tasks created</span>
                <br />
                <span class=" badge badge-warning">8 comments</span> <span class=" badge badge-info">15 followers</span>
            </div>
        </div>
    </div>


    <div class="span4 well">

        Tasks:

    </div>

        <div class="span4 well">
Wall:
    </div>


{% endblock content %}
{% block script %}
    <script type="text/javascript" charset="utf-8">

    </script>
{% endblock script %}
