{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block headline %}{% trans "Edit task" %}{% endblock %}
{% block extrahead %}
<script type="text/javascript" charset="utf-8">
    task_upload_url = "{% url "tasks.upload" id %}"
    task_translation_id = "{{id}}";
    csrf_token = "{{csrf_token}}";
    task_id = "{{task_translation.task_id}}";
    language = "{{task_translation.language_locale_id}}";
    version = "{{task_translation.version}}";
    tinyMCEbaseURL = "{% url "tasks.edit" task_translation.id %}";
</script>
{% endblock %}
{% block content %}
    <div class="row">

        <div class="navbar span12">
            <div class="navbar-inner">
                <ul class="nav">{%
                    <li><a href="#language"><i class="icon-chevron-right"></i> Language</a></li>
                    <li><a href="#title"><i class="icon-chevron-right"></i> Title</a></li>
                    <li><a href="#body"><i class="icon-chevron-right"></i> Body</a></li>
                    <li><a href="#answers"><i class="icon-chevron-right"></i> Answers</a></li>
                    <li><a href="#correctness"><i class="icon-chevron-right"></i> Correctness</a></li>
                    <li><a href="#solution"><i class="icon-chevron-right"></i> Solution</a></li>
                    <li><a href="#informatics"><i class="icon-chevron-right"></i> Informatics</a></li>
                    <li><a href="#content_category"><i class="icon-chevron-right"></i> Content category</a></li>
                    <li><a href="#age_groups"><i class="icon-chevron-right"></i> Age groups</a></li>
                    <li><a href="#summary"><i class="icon-chevron-right"></i> Summary</a></li>
                </ul>
            </div>
        </div>
    </div>
<h1>
    {% if task_translation.title %} Edit {{ task_translation.title }}{% else %} New task {% endif %}
    <span class="grey">{{ task_translation.language_locale.value }}</span>
</h1>
    <div class="row-fluid">
    <form action="{% url "tasks.translation_save" %}" method="POST">
    {% csrf_token %}
    <div class="span12 well metadata">
        <div class="row-fluid">
        <div class="span12">
            <fieldset id="title" rel="Vpis naslova je obvezen!">
                <legend>Title</legend>
                <input required="required" class="span12 title" style="font-size: 25px; height: 40px;" name="title" type="text" value="{{ task_translation.title }}">
                {% if task_translation %}
                <input name="id" type="hidden" value="{{ task_translation.id }}">
                {% endif %}
            </fieldset>
        </div>
        </div>

    {% if not task_translation %}
        <div class="row-fluid">
        <div class="span12">
        <fieldset id="language" rel="Izbira jezika je nujna!">
              <legend>Language</legend>
              <br/>
              <select required="required" class="anwserLanguage span10" name="language">
                <option value="">Select Language...</option>
                {% for language in languages %}
                  <option value="{{language.id}}">{{language.value}}</option>
                {% endfor %}
              </select>
        </fieldset>
        </div>
        </div>
       {% endif %}


    </div>

    <div class="row-fluid">
    <div class="span12">

        <fieldset id="body" rel="Vpis navodila je obvezen!">
            <legend>Body</legend>

            <textarea id="foo" class="span12 text" name="body" style="height: 500px">{{ task_translation.body }}</textarea>

        </fieldset>

        <fieldset id="answers" rel="Vpis odgovorov je nujen!">
            <legend>Answers</legend>

            <div class="">
                <label class="control-label" style="display:inline;"><b>A</b> </label>

                <textarea class="span12 text" name="answer[0]" rel="0" style="height: 100px">{{ answers.0.value }}</textarea>
            </div>


            <div class="">
                <label class="control-label" style="display:inline;"><b>B</b> </label>
                <textarea class="span12 text" name="answer[1]" rel="0" style="height: 100px">{{ answers.1.value }}</textarea>
            </div>


            <div class="">
                <label class="control-label" style="display:inline;"><b>C</b> </label>
                <textarea class="span12 text" name="answer[2]" rel="0" style="height: 100px">{{ answers.2.value }}</textarea>
            </div>


            <div class="">
                <label class="control-label" style="display:inline;"><b>D</b> </label>
                <textarea class="span12 text" name="answer[3]" rel="0" style="height: 100px">{{ answers.3.value }}</textarea>
            </div>

        </fieldset>

        <fieldset id="correctness">
            <legend>Correct answer</legend>
            <select name="correctness" value="" id="correctness">
                <option {% if answers.0.id == task_translation.correct_answer_id  %}selected="selected"{% endif %} value="0">A</option>
                <option {% if answers.1.id == task_translation.correct_answer_id  %}selected="selected"{% endif %} value="1">B</option>
                <option {% if answers.2.id == task_translation.correct_answer_id  %}selected="selected"{% endif %} value="2">C</option>
                <option {% if answers.3.id == task_translation.correct_answer_id  %}selected="selected"{% endif %} value="3">D</option>
            </select>
        </fieldset>

        <fieldset id="solution">
            <legend>Solution</legend>
            <label>Description of tasks solution</label>
            <textarea class="span12 text" name="solution" style="height: 200px">{{ task_translation.solution }}</textarea>
        </fieldset>

        <fieldset id="informatics">
            <legend>Informatics</legend>
            <label>Explanation why this  task is related to informatics</label>
            <textarea class="span12 text" name="informatics"
                      style="height: 200px">{{ task_translation.it_is_informatics }}</textarea>
        </fieldset>


        <div class="form-actions form-inline">
            <div class="control-group">

            <fieldset id="summary" rel="Remark is obligatory!">
                <label class="control-label" for="diff">Remark: </label>
                <input required="required" type="text"  name="diff">
                <button type="submit" class="btn btn-primary">Shrani</button>
                <a href="{% url "index" %} " class="btn btn-danger">Cancel</a>
            </fieldset>
                </div>
        </div>

    </div>
        </div>
    </form>
    </div>



    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/tinymce/tinymce.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajaxupload.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/editor.js" %}"></script>
    <!-- script type="text/javascript" src="{% static "js/validate.js"></script-->


{% endblock content %}
